In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame({'user': ['Petr@', 'Nikolay', 'Igor', 'Pavel!'],
                       'fullname': ['Petr::Ivanov', 'Nikolay::Petrov', 'Igor::Sidorov', 'Pavel::Ivanov']})

In [5]:
df

      user         fullname
0    Petr@     Petr::Ivanov
1  Nikolay  Nikolay::Petrov
2     Igor    Igor::Sidorov
3   Pavel!    Pavel::Ivanov

Мы рассмотрим строковую функцию .str.replace(). Не путайте, пожалуйста, ее с этой функцией replace

In [10]:
df['user'] = df['user'].str.replace('@', '')

In [11]:
df

      user         fullname
0     Petr     Petr::Ivanov
1  Nikolay  Nikolay::Petrov
2     Igor    Igor::Sidorov
3   Pavel!    Pavel::Ivanov

Данного результата можно достигнуть с помощью функции map

In [12]:
def f(x):
    return x.replace('@','')

In [13]:
df['user'].map(f)

0       Petr
1    Nikolay
2       Igor
3     Pavel!
Name: user, dtype: object

В случае с map и нашей функцией, есть одно но! Если у нас пропуск в серии. то мы получим ошибку!
Перепишем наш Датафрэйм и нашу функцию.

In [14]:
df = pd.DataFrame({'user': ['Petr@', 'Nikolay', 'Igor', 'Pavel!', np.nan],
                       'fullname': ['Petr::Ivanov', 'Nikolay::Petrov', 'Igor::Sidorov', 'Pavel::Ivanov',np.nan]})

In [15]:
df

      user         fullname
0    Petr@     Petr::Ivanov
1  Nikolay  Nikolay::Petrov
2     Igor    Igor::Sidorov
3   Pavel!    Pavel::Ivanov
4      NaN              NaN

In [16]:
def f(x):
    print(x)
    return x.replace('@','')

In [18]:
#На nan наша функция сломалась!
df['user'].map(f)

Petr@
Nikolay
Igor
Pavel!
nan

AttributeError: 'float' object has no attribute 'replace'

In [20]:
#Обратимся к нашему датафрэйму с помощью .str.replace()
#Никаких проблем у нас нет
df['user'].str.replace('@', '')

0       Petr
1    Nikolay
2       Igor
3     Pavel!
4        NaN
Name: user, dtype: object

Чтобы использовать остальные строковые ф-ии, к которым мы привыкли, необходимо использовать .str!!!

In [21]:
df['user'].str.upper()

0      PETR@
1    NIKOLAY
2       IGOR
3     PAVEL!
4        NaN
Name: user, dtype: object

In [22]:
df['user'].str[1]

0      e
1      i
2      g
3      a
4    NaN
Name: user, dtype: object

In [24]:
df['user'].str.capitalize()

0      Petr@
1    Nikolay
2       Igor
3     Pavel!
4        NaN
Name: user, dtype: object

Если вы хотите чтобы каждое слово в строке начиналось с большой буквы, тогда воспользуйтесь функций title.

Сравнение upper с title:

Функция upper преобразует "hello dear pandas!" в  "HELLO DEAR PANDAS!"

Функция title преобразует "hello dear pandas!" в  "Hello Dear Pandas!"

# Практика