In [23]:
import numpy as np
import pandas as pd

csv - comma separated values - значения, разделенные запятыми

- Разберем механизм чтения файла и создания DataFrame

Это просто пример для понимания как работает функция чтения csv файла!

In [19]:
#загрузить файл можно с помощью следующей команды
f = open('example.csv')

In [6]:
#Получения данных
for line in f:
    print(line)

a,b,c

1,2,3

4,5,6

7,8,9

In [13]:
#Разделение по сепаратору
for line in f:
    print(line.split(','))

['a', 'b', 'c\n']
['1', '2', '3\n']
['4', '5', '6\n']
['7', '8', '9']

In [20]:
#Присвоение значений матрице
matrix = []
for line in f:
    _lst = line.split(',')
    matrix.append(_lst)

In [21]:
matrix

[['a', 'b', 'c\n'], ['1', '2', '3\n'], ['4', '5', '6\n'], ['7', '8', '9']]

In [26]:
#Создание датафрэйма по матрице
df = pd.DataFrame(matrix, columns = ['a','b','c'])
df

   a  b    c
0  a  b  c\n
1  1  2  3\n
2  4  5  6\n
3  7  8    9

- Разумеется это не весь код. Т.к. у нас могт быть пропуски и т.д. В коде появятся различные ответвления для того или иного случая. Поэтому это все учли разработчки Pandas

- .read_csv

In [28]:
df = pd.read_csv('example.csv')
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

- Указание пути к файлу

Важно, при указании пути к файлу. необходимо развернуть наши слэши. Иначе функция ждет получения служебного символа.

Python ожидает, что после символов \u будет идти код символа в кодировке Unicode, но увидел какие-то другие символы и выдал ошибку. Со временем вы лучше будете понимать происходящее, а сейчас для указания пути используйте / (слэш на правую сторону)

Вам может повезти и в пути не встретятся служебные символы (\t \n \u), тогда всё сработает и со слэшами с наклоном налево, но гораздо проще использовать слэш с наклоном на правую сторону и не думать о возможных проблемах.

Это поможет избежать вам избежать сложностей при чтении файлов.

In [29]:
#Такая запись может выдать ошибку
df2 = pd.read_csv('Z:\Programming\DataSciense\Stepik_Pandas_Numpy\example2.csv')
df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [31]:
#Корректно писать именно так
df2 = pd.read_csv('Z:/Programming/DataSciense/Stepik_Pandas_Numpy/example2.csv')
df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
#Либо указывайте два слэша

In [32]:
#Такая запись может выдать ошибку
df2 = pd.read_csv('Z:\\Programming\\DataSciense\\Stepik_Pandas_Numpy\\example2.csv')
df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

По умолчанию у функции read_csv параметр sep=',' , но если вы видите, что у вас в файле другой разделитель, то вы можете его заменить, например, на точку с запятой sep=';'

- ссылка на документацию read_csv

https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

- Задача №1
Задание:

1) скачайте файл с данными

2) определите разделитель и загрузите данные в датафрейм

3) определите название станции, на которой было наибольшее количество входов за 4 квартал 2021 года

В ответе укажите название станции

In [109]:
df_metro = pd.read_csv('Z:\\Programming\\DataSciense\\Stepik_Pandas_Numpy\\Пассажиропоток_МосМетро_2.csv', sep = ';', skiprows=[1])

In [79]:
#План выполнения:
#Получить записи только 4 квартала 2021
#Получить станцию с максимальным количеством входов

In [111]:
df_m_s = df_metro[(df_metro['Year'] == 2021) & (df_metro['Quarter'] == 	'I квартал')]

In [112]:
df_m_s.loc[df_m_s['IncomingPassengers'] == df_m_s.IncomingPassengers.max()]['NameOfStation']

509    Комсомольская
Name: NameOfStation, dtype: object