In [1]:
import pandas as pd
import numpy as np

JSON - JavaScript Object Notation -  текстовый формат обмена данными, основанный на JavaScript.

In [5]:
#В ходе урока мы создаем документика формата Json и подгружаем его
df = pd.read_json('Z:\\Programming\\DataSciense\\Stepik_Pandas_Numpy\\Step_4.4.json')
df

  surname  name  age    city
0  Ivanov  Ivan   18   Kazan
1  Ivanov  Petr   36  Moscow

- Сохранение в формат Json

In [6]:
data = [['Girev', 'Andrey', 'ВИП', 2815, 29, 58, 6358, 'Moscow', 'Xiaomi'],
       ['Bykin', 'Stas', 'Все за 300', 3634, 37, 78, 602, 'Kazan',
        'Samsung'],
       ['Ivanov', 'Alex', 'Всё за 800', 410, 47, 81, 3582, 'Moscow',
        'Huawei'],
       ['Andreev', 'Sergey', 'Всё за 500', 1981, 75, 98, 5442, 'Kazan',
        'Apple'],
       ['Girev', 'Stas', 'Всё за 800', 4969, 43, 61, 8510, 'Moscow',
        'Samsung'],
       ['Bykin', 'Andrey', 'Всё за 500', 4308, 49, 39, 2525, 'Moscow',
        'Xiaomi'],
       ['Kozlov', 'Igor', 'Всё за 800', 300, 60, 31, 8543, 'Yakutsk',
        'Samsung'],
       ['Girev', 'Alex', 'Промо', 4199, 47, 90, 3925, 'Kazan', 'Apple'],
       ['Petrov', 'Nikolay', 'ВИП', 4810, 72, 88, 7188, 'Moscow',
        'Apple'],
       ['Andreev', 'Sergey', 'Всё за 800', 4118, 52, 53, 419, 'Yakutsk',
        'Apple'],
       ['Smolov', 'Stas', 'Промо', 1991, 28, 67, 5016, 'Kazan', 'Xiaomi'],
       ['Girev', 'Igor', 'Корпоративный', 1430, 69, 19, 9520, 'Yakutsk',
        'Samsung'],
       ['Kozlov', 'Andrey', 'Корпоративный', 113, 71, 82, 2785, 'Kazan',
        'Apple'],
       ['Ivanov', 'Sergey', 'Промо', 3394, 39, 12, 2718, 'Yakutsk',
        'Xiaomi'],
       ['Smolov', 'Sergey', 'Всё за 250 (архив)', 3493, 32, 6, 8959,
        'Yakutsk', 'Huawei'],
       ['Kozlov', 'Stas', 'Всё за 800', 4565, 59, 82, 3168, 'Moscow',
        'Apple'],
       ['Vlasov', 'Andrey', 'Всё за 800', 3192, 29, 74, 2852, 'Yakutsk',
        'Xiaomi'],
       ['Smolov', 'Alex', 'Корпоративный', 3764, 71, 22, 2768, 'Moscow',
        'Huawei'],
       ['Vlasov', 'Sergey', 'Всё за 800', 3816, 28, 35, 5734,
        'Vladivostok', 'Apple'],
       ['Bykin', 'Alex', 'Промо', 817, 65, 34, 2131, 'Vladivostok',
        'Samsung'],
       ['Andreev', 'Nikolay', 'Всё за 500', 385, 49, 62, 1815, 'Kazan',
        'Xiaomi'],
       ['Bykin', 'Igor', 'Всё за 500', 2642, 38, 11, 3787, 'Moscow',
        'Xiaomi'],
       ['Girev', 'Sergey', 'Все за 300', 4230, 62, 68, 5512,
        'Vladivostok', 'Samsung'],
       ['Bykin', 'Sergey', 'Всё за 800', 4100, 48, 39, 227, 'Moscow',
        'Xiaomi'],
       ['Girev', 'Stas', 'Все за 300', 3371, 53, 24, 7946, 'Kazan',
        'Apple'],
       ['Smolov', 'Sergey', 'Корпоративный', 3577, 70, 71, 8847,
        'Yakutsk', 'Huawei'],
       ['Mezov', 'Nikolay', 'Всё за 250 (архив)', 2742, 28, 19, 7115,
        'Yakutsk', 'Huawei'],
       ['Smolov', 'Stas', 'Всё за 500', 2644, 41, 33, 8341, 'Moscow',
        'Xiaomi'],
       ['Vlasov', 'Andrey', 'Всё за 500', 4725, 26, 93, 9441,
        'Vladivostok', 'Xiaomi'],
       ['Ivanov', 'Nikolay', 'Всё за 500', 2785, 41, 5, 2901, 'Moscow',
        'Samsung']]

df = pd.DataFrame(data, columns = ['surname', 'name', 'tarif', 'balance', 'age', 
                                   'sms', 'voice', 'city', 'phone'])

In [7]:
df

,surname,name,tarif,balance,age,sms,voice,city,phone
0,Girev,Andrey,ВИП,2815,29,58,6358,Moscow,Xiaomi
1,Bykin,Stas,Все за 300,3634,37,78,602,Kazan,Samsung
2,Ivanov,Alex,Всё за 800,410,47,81,3582,Moscow,Huawei
3,Andreev,Sergey,Всё за 500,1981,75,98,5442,Kazan,Apple
4,Girev,Stas,Всё за 800,4969,43,61,8510,Moscow,Samsung
5,Bykin,Andrey,Всё за 500,4308,49,39,2525,Moscow,Xiaomi
6,Kozlov,Igor,Всё за 800,300,60,31,8543,Yakutsk,Samsung
7,Girev,Alex,Промо,4199,47,90,3925,Kazan,Apple
8,Petrov,Nikolay,ВИП,4810,72,88,7188,Moscow,Apple
9,Andreev,Sergey,Всё за 800,4118,52,53,419,Yakutsk,Apple
10,Smolov,Stas,Промо,1991,28,67,5016,Kazan,Xiaomi
11,Girev,Igor,Корпоративный,1430,69,19,9520,Yakutsk,Samsung
12,Kozlov,Andrey,Корпоративный,113,71,82,2785,Kazan,Apple
13,Ivanov,Sergey,Промо,3394,39,12,2718,Yakutsk,Xiaomi
14,Smolov,Sergey,Всё за 250 (архив),3493,32,6,8959,Yakutsk,Huawei
15,Kozlov,Stas,Всё за 800,4565,59,82,3168,Moscow,Apple
16,Vlasov,Andrey,Всё за 800,3192,29,74,2852,Yakutsk,Xiaomi
17,Smolov,Alex,Корпоративный,3764,71,22,2768,Moscow,Huawei
18,Vlasov,Sergey,Всё за 800,3816,28,35,5734,Vladivostok,Apple
19,Bykin,Alex,Промо,817,65,34,2131,Vladivostok,Samsung
20,Andreev,Nikolay,Всё за 500,385,49,62,1815,Kazan,Xiaomi
21,Bykin,Igor,Всё за 500,2642,38,11,3787,Moscow,Xiaomi
22,Girev,Sergey,Все за 300,4230,62,68,5512,Vladivostok,Samsung
23,Bykin,Sergey,Всё за 800,4100,48,39,227,Moscow,Xiaomi
24,Girev,Stas,Все за 300,3371,53,24,7946,Kazan,Apple
25,Smolov,Sergey,Корпоративный,3577,70,71,8847,Yakutsk,Huawei
26,Mezov,Nikolay,Всё за 250 (архив),2742,28,19,7115,Yakutsk,Huawei
27,Smolov,Stas,Всё за 500,2644,41,33,8341,Moscow,Xiaomi
28,Vlasov,Andrey,Всё за 500,4725,26,93,9441,Vladivostok,Xiaomi
29,Ivanov,Nikolay,Всё за 500,2785,41,5,2901,Moscow,Samsung

In [10]:
df.to_json('Z:\\Programming\\DataSciense\\Stepik_Pandas_Numpy\\Step_4.4._output.json')

Когда мы откроем, получившийся файл, мы увидим, что у нас получился файл в одну строку. 
Для преобразования есть специальные всякие разные сервисы, ссылки:
- https://jsonformatter.org/json-pretty-print
- http://jsonviewer.stack.hu/

- Параметр orient

По-умолчанию у параметра orient установлено значение "columns", поэтому запись в json идет по колонкам. 

Мы устанавливаем значение параметра "records", что с английского переводится как записи, т.е. строки.

In [11]:
df.to_json('Z:\\Programming\\DataSciense\\Stepik_Pandas_Numpy\\Step_4.4._output_orient.json', 
           orient = 'records')

- Практика Json

Перейдем на сайт: https://openweathermap.org/

Далее идем в раздел API(Если вы видите раздел API, то оттуда можно получить различные данные)

Api doc

Api Call

Перейдем на сайт: https://www.alphavantage.co/documentation/

Кликаем на ссылочки как на скриншоте и видим как раз таки информацию в формате Json.

- Как нам скачать данные?

In [14]:
#Сначала пойдем кустарным способом, просто скопируем
#Забегу вперед, позже будет показан способ без этой дичи
data = {
    "Meta Data": {
        "1. Information": "Intraday (5min) open, high, low, close prices and volume",
        "2. Symbol": "IBM",
        "3. Last Refreshed": "2023-02-09 19:45:00",
        "4. Interval": "5min",
        "5. Output Size": "Compact",
        "6. Time Zone": "US/Eastern"
    },
    "Time Series (5min)": {
        "2023-02-09 19:45:00": {
            "1. open": "133.7500",
            "2. high": "133.7500",
            "3. low": "133.7500",
            "4. close": "133.7500",
            "5. volume": "100"
        },
        "2023-02-09 19:25:00": {
            "1. open": "133.7500",
            "2. high": "133.7500",
            "3. low": "133.7500",
            "4. close": "133.7500",
            "5. volume": "1101"
        },
        "2023-02-09 17:30:00": {
            "1. open": "133.7500",
            "2. high": "133.7500",
            "3. low": "133.7500",
            "4. close": "133.7500",
            "5. volume": "1639"
        },
        "2023-02-09 17:25:00": {
            "1. open": "134.0000",
            "2. high": "134.0000",
            "3. low": "134.0000",
            "4. close": "134.0000",
            "5. volume": "152"
        },
        "2023-02-09 17:20:00": {
            "1. open": "134.0000",
            "2. high": "134.0000",
            "3. low": "134.0000",
            "4. close": "134.0000",
            "5. volume": "104"
        },
        "2023-02-09 16:40:00": {
            "1. open": "133.7000",
            "2. high": "133.7000",
            "3. low": "133.7000",
            "4. close": "133.7000",
            "5. volume": "294"
        },
        "2023-02-09 16:15:00": {
            "1. open": "133.5000",
            "2. high": "133.8500",
            "3. low": "133.5000",
            "4. close": "133.8500",
            "5. volume": "1576"
        },
        "2023-02-09 16:10:00": {
            "1. open": "133.7500",
            "2. high": "133.7500",
            "3. low": "133.7500",
            "4. close": "133.7500",
            "5. volume": "7469"
        },
        "2023-02-09 16:05:00": {
            "1. open": "133.7500",
            "2. high": "133.7500",
            "3. low": "133.7500",
            "4. close": "133.7500",
            "5. volume": "175932"
        },
        "2023-02-09 16:00:00": {
            "1. open": "133.8950",
            "2. high": "133.9000",
            "3. low": "133.6300",
            "4. close": "133.7300",
            "5. volume": "219200"
        },
        "2023-02-09 15:55:00": {
            "1. open": "133.6300",
            "2. high": "133.9500",
            "3. low": "133.6200",
            "4. close": "133.8950",
            "5. volume": "109687"
        },
        "2023-02-09 15:50:00": {
            "1. open": "133.6200",
            "2. high": "133.7700",
            "3. low": "133.5600",
            "4. close": "133.6600",
            "5. volume": "68078"
        },
        "2023-02-09 15:45:00": {
            "1. open": "133.4918",
            "2. high": "133.6300",
            "3. low": "133.4000",
            "4. close": "133.6150",
            "5. volume": "69465"
        },
        "2023-02-09 15:40:00": {
            "1. open": "133.4500",
            "2. high": "133.5000",
            "3. low": "133.3400",
            "4. close": "133.4950",
            "5. volume": "70272"
        },
        "2023-02-09 15:35:00": {
            "1. open": "133.5800",
            "2. high": "133.5800",
            "3. low": "133.4200",
            "4. close": "133.4500",
            "5. volume": "50046"
        },
        "2023-02-09 15:30:00": {
            "1. open": "133.7500",
            "2. high": "133.7500",
            "3. low": "133.5800",
            "4. close": "133.5800",
            "5. volume": "36697"
        },
        "2023-02-09 15:25:00": {
            "1. open": "133.8746",
            "2. high": "133.9200",
            "3. low": "133.7338",
            "4. close": "133.7500",
            "5. volume": "40483"
        },
        "2023-02-09 15:20:00": {
            "1. open": "133.8700",
            "2. high": "133.8900",
            "3. low": "133.8000",
            "4. close": "133.8750",
            "5. volume": "25182"
        },
        "2023-02-09 15:15:00": {
            "1. open": "133.9700",
            "2. high": "133.9700",
            "3. low": "133.8600",
            "4. close": "133.8700",
            "5. volume": "22100"
        },
        "2023-02-09 15:10:00": {
            "1. open": "133.7600",
            "2. high": "134.0000",
            "3. low": "133.7300",
            "4. close": "133.9800",
            "5. volume": "87420"
        },
        "2023-02-09 15:05:00": {
            "1. open": "133.6400",
            "2. high": "133.8000",
            "3. low": "133.5000",
            "4. close": "133.7700",
            "5. volume": "115165"
        },
        "2023-02-09 15:00:00": {
            "1. open": "133.6100",
            "2. high": "133.6500",
            "3. low": "133.5700",
            "4. close": "133.6400",
            "5. volume": "16240"
        },
        "2023-02-09 14:55:00": {
            "1. open": "133.7000",
            "2. high": "133.7400",
            "3. low": "133.5700",
            "4. close": "133.6250",
            "5. volume": "32119"
        },
        "2023-02-09 14:50:00": {
            "1. open": "133.7300",
            "2. high": "133.7500",
            "3. low": "133.6000",
            "4. close": "133.7117",
            "5. volume": "24046"
        },
        "2023-02-09 14:45:00": {
            "1. open": "133.7202",
            "2. high": "133.7800",
            "3. low": "133.6900",
            "4. close": "133.7300",
            "5. volume": "14325"
        },
        "2023-02-09 14:40:00": {
            "1. open": "133.6400",
            "2. high": "133.7800",
            "3. low": "133.6200",
            "4. close": "133.7200",
            "5. volume": "20283"
        },
        "2023-02-09 14:35:00": {
            "1. open": "133.6800",
            "2. high": "133.7700",
            "3. low": "133.6300",
            "4. close": "133.6400",
            "5. volume": "22885"
        },
        "2023-02-09 14:30:00": {
            "1. open": "133.6800",
            "2. high": "133.7200",
            "3. low": "133.6500",
            "4. close": "133.6622",
            "5. volume": "20742"
        },
        "2023-02-09 14:25:00": {
            "1. open": "133.7000",
            "2. high": "133.8100",
            "3. low": "133.6800",
            "4. close": "133.6900",
            "5. volume": "24689"
        },
        "2023-02-09 14:20:00": {
            "1. open": "133.8300",
            "2. high": "133.8400",
            "3. low": "133.6900",
            "4. close": "133.7200",
            "5. volume": "21050"
        },
        "2023-02-09 14:15:00": {
            "1. open": "133.9900",
            "2. high": "133.9900",
            "3. low": "133.8100",
            "4. close": "133.8300",
            "5. volume": "22276"
        },
        "2023-02-09 14:10:00": {
            "1. open": "133.8600",
            "2. high": "134.0300",
            "3. low": "133.8300",
            "4. close": "134.0000",
            "5. volume": "21234"
        },
        "2023-02-09 14:05:00": {
            "1. open": "134.0000",
            "2. high": "134.0704",
            "3. low": "133.8400",
            "4. close": "133.8600",
            "5. volume": "28100"
        },
        "2023-02-09 14:00:00": {
            "1. open": "134.0300",
            "2. high": "134.0300",
            "3. low": "133.9200",
            "4. close": "134.0000",
            "5. volume": "18327"
        },
        "2023-02-09 13:55:00": {
            "1. open": "134.0400",
            "2. high": "134.0945",
            "3. low": "133.9410",
            "4. close": "134.0200",
            "5. volume": "27778"
        },
        "2023-02-09 13:50:00": {
            "1. open": "133.9700",
            "2. high": "134.0500",
            "3. low": "133.9200",
            "4. close": "134.0450",
            "5. volume": "18894"
        },
        "2023-02-09 13:45:00": {
            "1. open": "134.0900",
            "2. high": "134.0900",
            "3. low": "133.9000",
            "4. close": "133.9864",
            "5. volume": "31639"
        },
        "2023-02-09 13:40:00": {
            "1. open": "134.2000",
            "2. high": "134.2200",
            "3. low": "134.0800",
            "4. close": "134.1100",
            "5. volume": "22787"
        },
        "2023-02-09 13:35:00": {
            "1. open": "134.1500",
            "2. high": "134.2900",
            "3. low": "134.0800",
            "4. close": "134.1900",
            "5. volume": "15120"
        },
        "2023-02-09 13:30:00": {
            "1. open": "134.1700",
            "2. high": "134.2200",
            "3. low": "134.1400",
            "4. close": "134.1500",
            "5. volume": "20212"
        },
        "2023-02-09 13:25:00": {
            "1. open": "134.1550",
            "2. high": "134.1700",
            "3. low": "134.0950",
            "4. close": "134.1523",
            "5. volume": "27623"
        },
        "2023-02-09 13:20:00": {
            "1. open": "134.0800",
            "2. high": "134.1600",
            "3. low": "134.0000",
            "4. close": "134.1450",
            "5. volume": "21728"
        },
        "2023-02-09 13:15:00": {
            "1. open": "134.1300",
            "2. high": "134.1450",
            "3. low": "133.9990",
            "4. close": "134.0500",
            "5. volume": "16024"
        },
        "2023-02-09 13:10:00": {
            "1. open": "134.1000",
            "2. high": "134.1800",
            "3. low": "134.0600",
            "4. close": "134.1200",
            "5. volume": "26789"
        },
        "2023-02-09 13:05:00": {
            "1. open": "134.1000",
            "2. high": "134.1432",
            "3. low": "133.9900",
            "4. close": "134.0900",
            "5. volume": "43768"
        },
        "2023-02-09 13:00:00": {
            "1. open": "134.0700",
            "2. high": "134.1800",
            "3. low": "134.0500",
            "4. close": "134.1000",
            "5. volume": "16490"
        },
        "2023-02-09 12:55:00": {
            "1. open": "134.1200",
            "2. high": "134.1600",
            "3. low": "134.0500",
            "4. close": "134.0800",
            "5. volume": "13558"
        },
        "2023-02-09 12:50:00": {
            "1. open": "134.1200",
            "2. high": "134.1500",
            "3. low": "134.0400",
            "4. close": "134.1350",
            "5. volume": "20677"
        },
        "2023-02-09 12:45:00": {
            "1. open": "134.0700",
            "2. high": "134.2600",
            "3. low": "134.0600",
            "4. close": "134.1500",
            "5. volume": "15074"
        },
        "2023-02-09 12:40:00": {
            "1. open": "134.1000",
            "2. high": "134.2060",
            "3. low": "134.0300",
            "4. close": "134.0900",
            "5. volume": "20311"
        },
        "2023-02-09 12:35:00": {
            "1. open": "134.3700",
            "2. high": "134.4380",
            "3. low": "134.0900",
            "4. close": "134.1087",
            "5. volume": "40332"
        },
        "2023-02-09 12:30:00": {
            "1. open": "134.6099",
            "2. high": "134.6100",
            "3. low": "134.3800",
            "4. close": "134.3800",
            "5. volume": "29073"
        },
        "2023-02-09 12:25:00": {
            "1. open": "134.6499",
            "2. high": "134.6550",
            "3. low": "134.5550",
            "4. close": "134.5900",
            "5. volume": "18243"
        },
        "2023-02-09 12:20:00": {
            "1. open": "134.7015",
            "2. high": "134.7015",
            "3. low": "134.4700",
            "4. close": "134.6400",
            "5. volume": "42435"
        },
        "2023-02-09 12:15:00": {
            "1. open": "134.6700",
            "2. high": "134.7450",
            "3. low": "134.6250",
            "4. close": "134.7000",
            "5. volume": "41553"
        },
        "2023-02-09 12:10:00": {
            "1. open": "134.6200",
            "2. high": "134.6800",
            "3. low": "134.6100",
            "4. close": "134.6800",
            "5. volume": "18287"
        },
        "2023-02-09 12:05:00": {
            "1. open": "134.5800",
            "2. high": "134.7350",
            "3. low": "134.5500",
            "4. close": "134.6200",
            "5. volume": "21560"
        },
        "2023-02-09 12:00:00": {
            "1. open": "134.5500",
            "2. high": "134.5950",
            "3. low": "134.5200",
            "4. close": "134.5503",
            "5. volume": "19582"
        },
        "2023-02-09 11:55:00": {
            "1. open": "134.5400",
            "2. high": "134.6200",
            "3. low": "134.5200",
            "4. close": "134.5600",
            "5. volume": "18755"
        },
        "2023-02-09 11:50:00": {
            "1. open": "134.6800",
            "2. high": "134.6800",
            "3. low": "134.4500",
            "4. close": "134.5400",
            "5. volume": "32122"
        },
        "2023-02-09 11:45:00": {
            "1. open": "134.5800",
            "2. high": "134.7500",
            "3. low": "134.4750",
            "4. close": "134.7000",
            "5. volume": "44797"
        },
        "2023-02-09 11:40:00": {
            "1. open": "134.3800",
            "2. high": "134.5800",
            "3. low": "134.2700",
            "4. close": "134.5800",
            "5. volume": "50067"
        },
        "2023-02-09 11:35:00": {
            "1. open": "134.3300",
            "2. high": "134.4100",
            "3. low": "134.2900",
            "4. close": "134.3600",
            "5. volume": "28838"
        },
        "2023-02-09 11:30:00": {
            "1. open": "134.2600",
            "2. high": "134.4040",
            "3. low": "134.2300",
            "4. close": "134.3400",
            "5. volume": "49469"
        },
        "2023-02-09 11:25:00": {
            "1. open": "134.4523",
            "2. high": "134.4900",
            "3. low": "134.2100",
            "4. close": "134.2550",
            "5. volume": "30745"
        },
        "2023-02-09 11:20:00": {
            "1. open": "134.6900",
            "2. high": "134.7000",
            "3. low": "134.4100",
            "4. close": "134.4500",
            "5. volume": "34438"
        },
        "2023-02-09 11:15:00": {
            "1. open": "134.7700",
            "2. high": "134.8200",
            "3. low": "134.6700",
            "4. close": "134.6800",
            "5. volume": "24792"
        },
        "2023-02-09 11:10:00": {
            "1. open": "134.7200",
            "2. high": "134.7760",
            "3. low": "134.6500",
            "4. close": "134.7507",
            "5. volume": "21364"
        },
        "2023-02-09 11:05:00": {
            "1. open": "134.9600",
            "2. high": "134.9950",
            "3. low": "134.6750",
            "4. close": "134.7000",
            "5. volume": "33649"
        },
        "2023-02-09 11:00:00": {
            "1. open": "135.0400",
            "2. high": "135.0400",
            "3. low": "134.9200",
            "4. close": "134.9750",
            "5. volume": "24768"
        },
        "2023-02-09 10:55:00": {
            "1. open": "135.0900",
            "2. high": "135.1300",
            "3. low": "134.9750",
            "4. close": "135.0100",
            "5. volume": "25868"
        },
        "2023-02-09 10:50:00": {
            "1. open": "134.9750",
            "2. high": "135.1300",
            "3. low": "134.9750",
            "4. close": "135.0700",
            "5. volume": "15085"
        },
        "2023-02-09 10:45:00": {
            "1. open": "134.9600",
            "2. high": "135.0500",
            "3. low": "134.8850",
            "4. close": "134.9752",
            "5. volume": "24310"
        },
        "2023-02-09 10:40:00": {
            "1. open": "135.0301",
            "2. high": "135.0750",
            "3. low": "134.9350",
            "4. close": "134.9600",
            "5. volume": "37592"
        },
        "2023-02-09 10:35:00": {
            "1. open": "135.1219",
            "2. high": "135.1400",
            "3. low": "134.9600",
            "4. close": "135.0500",
            "5. volume": "45293"
        },
        "2023-02-09 10:30:00": {
            "1. open": "135.2800",
            "2. high": "135.2800",
            "3. low": "135.0500",
            "4. close": "135.1600",
            "5. volume": "34533"
        },
        "2023-02-09 10:25:00": {
            "1. open": "135.2850",
            "2. high": "135.3300",
            "3. low": "135.2100",
            "4. close": "135.3200",
            "5. volume": "24634"
        },
        "2023-02-09 10:20:00": {
            "1. open": "135.1800",
            "2. high": "135.2900",
            "3. low": "135.1500",
            "4. close": "135.2711",
            "5. volume": "18526"
        },
        "2023-02-09 10:15:00": {
            "1. open": "135.3700",
            "2. high": "135.3700",
            "3. low": "135.1300",
            "4. close": "135.1650",
            "5. volume": "23181"
        },
        "2023-02-09 10:10:00": {
            "1. open": "135.5300",
            "2. high": "135.5300",
            "3. low": "135.3000",
            "4. close": "135.3650",
            "5. volume": "32256"
        },
        "2023-02-09 10:05:00": {
            "1. open": "135.4500",
            "2. high": "135.7300",
            "3. low": "135.4100",
            "4. close": "135.5483",
            "5. volume": "46984"
        },
        "2023-02-09 10:00:00": {
            "1. open": "135.3900",
            "2. high": "135.5400",
            "3. low": "135.3300",
            "4. close": "135.5000",
            "5. volume": "48913"
        },
        "2023-02-09 09:55:00": {
            "1. open": "135.1300",
            "2. high": "135.4100",
            "3. low": "135.0800",
            "4. close": "135.3800",
            "5. volume": "54809"
        },
        "2023-02-09 09:50:00": {
            "1. open": "134.9400",
            "2. high": "135.0800",
            "3. low": "134.7800",
            "4. close": "135.0650",
            "5. volume": "59391"
        },
        "2023-02-09 09:45:00": {
            "1. open": "134.7800",
            "2. high": "134.9450",
            "3. low": "134.6600",
            "4. close": "134.9200",
            "5. volume": "52270"
        },
        "2023-02-09 09:40:00": {
            "1. open": "134.9400",
            "2. high": "135.1200",
            "3. low": "134.7100",
            "4. close": "134.8200",
            "5. volume": "70495"
        },
        "2023-02-09 09:35:00": {
            "1. open": "134.9900",
            "2. high": "135.1800",
            "3. low": "134.8500",
            "4. close": "134.9400",
            "5. volume": "191326"
        },
        "2023-02-09 09:30:00": {
            "1. open": "134.9200",
            "2. high": "134.9600",
            "3. low": "134.9200",
            "4. close": "134.9600",
            "5. volume": "1501"
        },
        "2023-02-09 09:25:00": {
            "1. open": "134.9000",
            "2. high": "134.9000",
            "3. low": "134.9000",
            "4. close": "134.9000",
            "5. volume": "1332"
        },
        "2023-02-09 09:20:00": {
            "1. open": "134.9599",
            "2. high": "134.9599",
            "3. low": "134.9300",
            "4. close": "134.9300",
            "5. volume": "570"
        },
        "2023-02-09 09:15:00": {
            "1. open": "134.9000",
            "2. high": "134.9000",
            "3. low": "134.9000",
            "4. close": "134.9000",
            "5. volume": "184"
        },
        "2023-02-09 09:10:00": {
            "1. open": "134.9100",
            "2. high": "134.9100",
            "3. low": "134.8600",
            "4. close": "134.8600",
            "5. volume": "1180"
        },
        "2023-02-09 09:05:00": {
            "1. open": "134.9100",
            "2. high": "134.9100",
            "3. low": "134.9100",
            "4. close": "134.9100",
            "5. volume": "303"
        },
        "2023-02-09 09:00:00": {
            "1. open": "134.9200",
            "2. high": "134.9200",
            "3. low": "134.9200",
            "4. close": "134.9200",
            "5. volume": "250"
        },
        "2023-02-09 08:55:00": {
            "1. open": "134.9100",
            "2. high": "134.9100",
            "3. low": "134.9000",
            "4. close": "134.9100",
            "5. volume": "1530"
        },
        "2023-02-09 08:45:00": {
            "1. open": "134.8600",
            "2. high": "134.8600",
            "3. low": "134.8600",
            "4. close": "134.8600",
            "5. volume": "600"
        },
        "2023-02-09 08:30:00": {
            "1. open": "135.0000",
            "2. high": "135.0000",
            "3. low": "135.0000",
            "4. close": "135.0000",
            "5. volume": "101"
        },
        "2023-02-09 08:05:00": {
            "1. open": "135.2490",
            "2. high": "135.2500",
            "3. low": "134.9500",
            "4. close": "134.9500",
            "5. volume": "3425"
        },
        "2023-02-09 08:00:00": {
            "1. open": "135.0000",
            "2. high": "135.0000",
            "3. low": "135.0000",
            "4. close": "135.0000",
            "5. volume": "999"
        },
        "2023-02-09 07:55:00": {
            "1. open": "135.1000",
            "2. high": "135.1000",
            "3. low": "135.1000",
            "4. close": "135.1000",
            "5. volume": "1160"
        }
    }
}

In [16]:
data[
    'Time Series (5min)'
]

{'2023-02-09 19:45:00': {'1. open': '133.7500',
  '2. high': '133.7500',
  '3. low': '133.7500',
  '4. close': '133.7500',
  '5. volume': '100'},
 '2023-02-09 19:25:00': {'1. open': '133.7500',
  '2. high': '133.7500',
  '3. low': '133.7500',
  '4. close': '133.7500',
  '5. volume': '1101'},
 '2023-02-09 17:30:00': {'1. open': '133.7500',
  '2. high': '133.7500',
  '3. low': '133.7500',
  '4. close': '133.7500',
  '5. volume': '1639'},
 '2023-02-09 17:25:00': {'1. open': '134.0000',
  '2. high': '134.0000',
  '3. low': '134.0000',
  '4. close': '134.0000',
  '5. volume': '152'},
 '2023-02-09 17:20:00': {'1. open': '134.0000',
  '2. high': '134.0000',
  '3. low': '134.0000',
  '4. close': '134.0000',
  '5. volume': '104'},
 '2023-02-09 16:40:00': {'1. open': '133.7000',
  '2. high': '133.7000',
  '3. low': '133.7000',
  '4. close': '133.7000',
  '5. volume': '294'},
 '2023-02-09 16:15:00': {'1. open': '133.5000',
  '2. high': '133.8500',
  '3. low': '133.5000',
  '4. close': '133.8500',
  '5. volume': '1576'},
 '2023-02-09 16:10:00': {'1. open': '133.7500',
  '2. high': '133.7500',
  '3. low': '133.7500',
  '4. close': '133.7500',
  '5. volume': '7469'},
 '2023-02-09 16:05:00': {'1. open': '133.7500',
  '2. high': '133.7500',
  '3. low': '133.7500',
  '4. close': '133.7500',
  '5. volume': '175932'},
 '2023-02-09 16:00:00': {'1. open': '133.8950',
  '2. high': '133.9000',
  '3. low': '133.6300',
  '4. close': '133.7300',
  '5. volume': '219200'},
 '2023-02-09 15:55:00': {'1. open': '133.6300',
  '2. high': '133.9500',
  '3. low': '133.6200',
  '4. close': '133.8950',
  '5. volume': '109687'},
 '2023-02-09 15:50:00': {'1. open': '133.6200',
  '2. high': '133.7700',
  '3. low': '133.5600',
  '4. close': '133.6600',
  '5. volume': '68078'},
 '2023-02-09 15:45:00': {'1. open': '133.4918',
  '2. high': '133.6300',
  '3. low': '133.4000',
  '4. close': '133.6150',
  '5. volume': '69465'},
 '2023-02-09 15:40:00': {'1. open': '133.4500',
  '2. high': '133.5000',
  '3. low': '133.3400',
  '4. close': '133.4950',
  '5. volume': '70272'},
 '2023-02-09 15:35:00': {'1. open': '133.5800',
  '2. high': '133.5800',
  '3. low': '133.4200',
  '4. close': '133.4500',
  '5. volume': '50046'},
 '2023-02-09 15:30:00': {'1. open': '133.7500',
  '2. high': '133.7500',
  '3. low': '133.5800',
  '4. close': '133.5800',
  '5. volume': '36697'},
 '2023-02-09 15:25:00': {'1. open': '133.8746',
  '2. high': '133.9200',
  '3. low': '133.7338',
  '4. close': '133.7500',
  '5. volume': '40483'},
 '2023-02-09 15:20:00': {'1. open': '133.8700',
  '2. high': '133.8900',
  '3. low': '133.8000',
  '4. close': '133.8750',
  '5. volume': '25182'},
 '2023-02-09 15:15:00': {'1. open': '133.9700',
  '2. high': '133.9700',
  '3. low': '133.8600',
  '4. close': '133.8700',
  '5. volume': '22100'},
 '2023-02-09 15:10:00': {'1. open': '133.7600',
  '2. high': '134.0000',
  '3. low': '133.7300',
  '4. close': '133.9800',
  '5. volume': '87420'},
 '2023-02-09 15:05:00': {'1. open': '133.6400',
  '2. high': '133.8000',
  '3. low': '133.5000',
  '4. close': '133.7700',
  '5. volume': '115165'},
 '2023-02-09 15:00:00': {'1. open': '133.6100',
  '2. high': '133.6500',
  '3. low': '133.5700',
  '4. close': '133.6400',
  '5. volume': '16240'},
 '2023-02-09 14:55:00': {'1. open': '133.7000',
  '2. high': '133.7400',
  '3. low': '133.5700',
  '4. close': '133.6250',
  '5. volume': '32119'},
 '2023-02-09 14:50:00': {'1. open': '133.7300',
  '2. high': '133.7500',
  '3. low': '133.6000',
  '4. close': '133.7117',
  '5. volume': '24046'},
 '2023-02-09 14:45:00': {'1. open': '133.7202',
  '2. high': '133.7800',
  '3. low': '133.6900',
  '4. close': '133.7300',
  '5. volume': '14325'},
 '2023-02-09 14:40:00': {'1. open': '133.6400',
  '2. high': '133.7800',
  '3. low': '133.6200',
  '4. close': '133.7200',
  '5. volume': '20283'},
 '2023-02-09 14:35:00': {'1. open': '133.6800',
  '2. high': '133.7700',
  '3. low': '133.6300',
  '4. close': '133.6400',
  '5. volume': '22885'},
 '2023-02-09 14:30:00': {'1. open': '133.6800',
  '2. high': '133.7200',
  '3. low': '133.6500',
  '4. close': '133.6622',
  '5. volume': '20742'},
 '2023-02-09 14:25:00': {'1. open': '133.7000',
  '2. high': '133.8100',
  '3. low': '133.6800',
  '4. close': '133.6900',
  '5. volume': '24689'},
 '2023-02-09 14:20:00': {'1. open': '133.8300',
  '2. high': '133.8400',
  '3. low': '133.6900',
  '4. close': '133.7200',
  '5. volume': '21050'},
 '2023-02-09 14:15:00': {'1. open': '133.9900',
  '2. high': '133.9900',
  '3. low': '133.8100',
  '4. close': '133.8300',
  '5. volume': '22276'},
 '2023-02-09 14:10:00': {'1. open': '133.8600',
  '2. high': '134.0300',
  '3. low': '133.8300',
  '4. close': '134.0000',
  '5. volume': '21234'},
 '2023-02-09 14:05:00': {'1. open': '134.0000',
  '2. high': '134.0704',
  '3. low': '133.8400',
  '4. close': '133.8600',
  '5. volume': '28100'},
 '2023-02-09 14:00:00': {'1. open': '134.0300',
  '2. high': '134.0300',
  '3. low': '133.9200',
  '4. close': '134.0000',
  '5. volume': '18327'},
 '2023-02-09 13:55:00': {'1. open': '134.0400',
  '2. high': '134.0945',
  '3. low': '133.9410',
  '4. close': '134.0200',
  '5. volume': '27778'},
 '2023-02-09 13:50:00': {'1. open': '133.9700',
  '2. high': '134.0500',
  '3. low': '133.9200',
  '4. close': '134.0450',
  '5. volume': '18894'},
 '2023-02-09 13:45:00': {'1. open': '134.0900',
  '2. high': '134.0900',
  '3. low': '133.9000',
  '4. close': '133.9864',
  '5. volume': '31639'},
 '2023-02-09 13:40:00': {'1. open': '134.2000',
  '2. high': '134.2200',
  '3. low': '134.0800',
  '4. close': '134.1100',
  '5. volume': '22787'},
 '2023-02-09 13:35:00': {'1. open': '134.1500',
  '2. high': '134.2900',
  '3. low': '134.0800',
  '4. close': '134.1900',
  '5. volume': '15120'},
 '2023-02-09 13:30:00': {'1. open': '134.1700',
  '2. high': '134.2200',
  '3. low': '134.1400',
  '4. close': '134.1500',
  '5. volume': '20212'},
 '2023-02-09 13:25:00': {'1. open': '134.1550',
  '2. high': '134.1700',
  '3. low': '134.0950',
  '4. close': '134.1523',
  '5. volume': '27623'},
 '2023-02-09 13:20:00': {'1. open': '134.0800',
  '2. high': '134.1600',
  '3. low': '134.0000',
  '4. close': '134.1450',
  '5. volume': '21728'},
 '2023-02-09 13:15:00': {'1. open': '134.1300',
  '2. high': '134.1450',
  '3. low': '133.9990',
  '4. close': '134.0500',
  '5. volume': '16024'},
 '2023-02-09 13:10:00': {'1. open': '134.1000',
  '2. high': '134.1800',
  '3. low': '134.0600',
  '4. close': '134.1200',
  '5. volume': '26789'},
 '2023-02-09 13:05:00': {'1. open': '134.1000',
  '2. high': '134.1432',
  '3. low': '133.9900',
  '4. close': '134.0900',
  '5. volume': '43768'},
 '2023-02-09 13:00:00': {'1. open': '134.0700',
  '2. high': '134.1800',
  '3. low': '134.0500',
  '4. close': '134.1000',
  '5. volume': '16490'},
 '2023-02-09 12:55:00': {'1. open': '134.1200',
  '2. high': '134.1600',
  '3. low': '134.0500',
  '4. close': '134.0800',
  '5. volume': '13558'},
 '2023-02-09 12:50:00': {'1. open': '134.1200',
  '2. high': '134.1500',
  '3. low': '134.0400',
  '4. close': '134.1350',
  '5. volume': '20677'},
 '2023-02-09 12:45:00': {'1. open': '134.0700',
  '2. high': '134.2600',
  '3. low': '134.0600',
  '4. close': '134.1500',
  '5. volume': '15074'},
 '2023-02-09 12:40:00': {'1. open': '134.1000',
  '2. high': '134.2060',
  '3. low': '134.0300',
  '4. close': '134.0900',
  '5. volume': '20311'},
 '2023-02-09 12:35:00': {'1. open': '134.3700',
  '2. high': '134.4380',
  '3. low': '134.0900',
  '4. close': '134.1087',
  '5. volume': '40332'},
 '2023-02-09 12:30:00': {'1. open': '134.6099',
  '2. high': '134.6100',
  '3. low': '134.3800',
  '4. close': '134.3800',
  '5. volume': '29073'},
 '2023-02-09 12:25:00': {'1. open': '134.6499',
  '2. high': '134.6550',
  '3. low': '134.5550',
  '4. close': '134.5900',
  '5. volume': '18243'},
 '2023-02-09 12:20:00': {'1. open': '134.7015',
  '2. high': '134.7015',
  '3. low': '134.4700',
  '4. close': '134.6400',
  '5. volume': '42435'},
 '2023-02-09 12:15:00': {'1. open': '134.6700',
  '2. high': '134.7450',
  '3. low': '134.6250',
  '4. close': '134.7000',
  '5. volume': '41553'},
 '2023-02-09 12:10:00': {'1. open': '134.6200',
  '2. high': '134.6800',
  '3. low': '134.6100',
  '4. close': '134.6800',
  '5. volume': '18287'},
 '2023-02-09 12:05:00': {'1. open': '134.5800',
  '2. high': '134.7350',
  '3. low': '134.5500',
  '4. close': '134.6200',
  '5. volume': '21560'},
 '2023-02-09 12:00:00': {'1. open': '134.5500',
  '2. high': '134.5950',
  '3. low': '134.5200',
  '4. close': '134.5503',
  '5. volume': '19582'},
 '2023-02-09 11:55:00': {'1. open': '134.5400',
  '2. high': '134.6200',
  '3. low': '134.5200',
  '4. close': '134.5600',
  '5. volume': '18755'},
 '2023-02-09 11:50:00': {'1. open': '134.6800',
  '2. high': '134.6800',
  '3. low': '134.4500',
  '4. close': '134.5400',
  '5. volume': '32122'},
 '2023-02-09 11:45:00': {'1. open': '134.5800',
  '2. high': '134.7500',
  '3. low': '134.4750',
  '4. close': '134.7000',
  '5. volume': '44797'},
 '2023-02-09 11:40:00': {'1. open': '134.3800',
  '2. high': '134.5800',
  '3. low': '134.2700',
  '4. close': '134.5800',
  '5. volume': '50067'},
 '2023-02-09 11:35:00': {'1. open': '134.3300',
  '2. high': '134.4100',
  '3. low': '134.2900',
  '4. close': '134.3600',
  '5. volume': '28838'},
 '2023-02-09 11:30:00': {'1. open': '134.2600',
  '2. high': '134.4040',
  '3. low': '134.2300',
  '4. close': '134.3400',
  '5. volume': '49469'},
 '2023-02-09 11:25:00': {'1. open': '134.4523',
  '2. high': '134.4900',
  '3. low': '134.2100',
  '4. close': '134.2550',
  '5. volume': '30745'},
 '2023-02-09 11:20:00': {'1. open': '134.6900',
  '2. high': '134.7000',
  '3. low': '134.4100',
  '4. close': '134.4500',
  '5. volume': '34438'},
 '2023-02-09 11:15:00': {'1. open': '134.7700',
  '2. high': '134.8200',
  '3. low': '134.6700',
  '4. close': '134.6800',
  '5. volume': '24792'},
 '2023-02-09 11:10:00': {'1. open': '134.7200',
  '2. high': '134.7760',
  '3. low': '134.6500',
  '4. close': '134.7507',
  '5. volume': '21364'},
 '2023-02-09 11:05:00': {'1. open': '134.9600',
  '2. high': '134.9950',
  '3. low': '134.6750',
  '4. close': '134.7000',
  '5. volume': '33649'},
 '2023-02-09 11:00:00': {'1. open': '135.0400',
  '2. high': '135.0400',
  '3. low': '134.9200',
  '4. close': '134.9750',
  '5. volume': '24768'},
 '2023-02-09 10:55:00': {'1. open': '135.0900',
  '2. high': '135.1300',
  '3. low': '134.9750',
  '4. close': '135.0100',
  '5. volume': '25868'},
 '2023-02-09 10:50:00': {'1. open': '134.9750',
  '2. high': '135.1300',
  '3. low': '134.9750',
  '4. close': '135.0700',
  '5. volume': '15085'},
 '2023-02-09 10:45:00': {'1. open': '134.9600',
  '2. high': '135.0500',
  '3. low': '134.8850',
  '4. close': '134.9752',
  '5. volume': '24310'},
 '2023-02-09 10:40:00': {'1. open': '135.0301',
  '2. high': '135.0750',
  '3. low': '134.9350',
  '4. close': '134.9600',
  '5. volume': '37592'},
 '2023-02-09 10:35:00': {'1. open': '135.1219',
  '2. high': '135.1400',
  '3. low': '134.9600',
  '4. close': '135.0500',
  '5. volume': '45293'},
 '2023-02-09 10:30:00': {'1. open': '135.2800',
  '2. high': '135.2800',
  '3. low': '135.0500',
  '4. close': '135.1600',
  '5. volume': '34533'},
 '2023-02-09 10:25:00': {'1. open': '135.2850',
  '2. high': '135.3300',
  '3. low': '135.2100',
  '4. close': '135.3200',
  '5. volume': '24634'},
 '2023-02-09 10:20:00': {'1. open': '135.1800',
  '2. high': '135.2900',
  '3. low': '135.1500',
  '4. close': '135.2711',
  '5. volume': '18526'},
 '2023-02-09 10:15:00': {'1. open': '135.3700',
  '2. high': '135.3700',
  '3. low': '135.1300',
  '4. close': '135.1650',
  '5. volume': '23181'},
 '2023-02-09 10:10:00': {'1. open': '135.5300',
  '2. high': '135.5300',
  '3. low': '135.3000',
  '4. close': '135.3650',
  '5. volume': '32256'},
 '2023-02-09 10:05:00': {'1. open': '135.4500',
  '2. high': '135.7300',
  '3. low': '135.4100',
  '4. close': '135.5483',
  '5. volume': '46984'},
 '2023-02-09 10:00:00': {'1. open': '135.3900',
  '2. high': '135.5400',
  '3. low': '135.3300',
  '4. close': '135.5000',
  '5. volume': '48913'},
 '2023-02-09 09:55:00': {'1. open': '135.1300',
  '2. high': '135.4100',
  '3. low': '135.0800',
  '4. close': '135.3800',
  '5. volume': '54809'},
 '2023-02-09 09:50:00': {'1. open': '134.9400',
  '2. high': '135.0800',
  '3. low': '134.7800',
  '4. close': '135.0650',
  '5. volume': '59391'},
 '2023-02-09 09:45:00': {'1. open': '134.7800',
  '2. high': '134.9450',
  '3. low': '134.6600',
  '4. close': '134.9200',
  '5. volume': '52270'},
 '2023-02-09 09:40:00': {'1. open': '134.9400',
  '2. high': '135.1200',
  '3. low': '134.7100',
  '4. close': '134.8200',
  '5. volume': '70495'},
 '2023-02-09 09:35:00': {'1. open': '134.9900',
  '2. high': '135.1800',
  '3. low': '134.8500',
  '4. close': '134.9400',
  '5. volume': '191326'},
 '2023-02-09 09:30:00': {'1. open': '134.9200',
  '2. high': '134.9600',
  '3. low': '134.9200',
  '4. close': '134.9600',
  '5. volume': '1501'},
 '2023-02-09 09:25:00': {'1. open': '134.9000',
  '2. high': '134.9000',
  '3. low': '134.9000',
  '4. close': '134.9000',
  '5. volume': '1332'},
 '2023-02-09 09:20:00': {'1. open': '134.9599',
  '2. high': '134.9599',
  '3. low': '134.9300',
  '4. close': '134.9300',
  '5. volume': '570'},
 '2023-02-09 09:15:00': {'1. open': '134.9000',
  '2. high': '134.9000',
  '3. low': '134.9000',
  '4. close': '134.9000',
  '5. volume': '184'},
 '2023-02-09 09:10:00': {'1. open': '134.9100',
  '2. high': '134.9100',
  '3. low': '134.8600',
  '4. close': '134.8600',
  '5. volume': '1180'},
 '2023-02-09 09:05:00': {'1. open': '134.9100',
  '2. high': '134.9100',
  '3. low': '134.9100',
  '4. close': '134.9100',
  '5. volume': '303'},
 '2023-02-09 09:00:00': {'1. open': '134.9200',
  '2. high': '134.9200',
  '3. low': '134.9200',
  '4. close': '134.9200',
  '5. volume': '250'},
 '2023-02-09 08:55:00': {'1. open': '134.9100',
  '2. high': '134.9100',
  '3. low': '134.9000',
  '4. close': '134.9100',
  '5. volume': '1530'},
 '2023-02-09 08:45:00': {'1. open': '134.8600',
  '2. high': '134.8600',
  '3. low': '134.8600',
  '4. close': '134.8600',
  '5. volume': '600'},
 '2023-02-09 08:30:00': {'1. open': '135.0000',
  '2. high': '135.0000',
  '3. low': '135.0000',
  '4. close': '135.0000',
  '5. volume': '101'},
 '2023-02-09 08:05:00': {'1. open': '135.2490',
  '2. high': '135.2500',
  '3. low': '134.9500',
  '4. close': '134.9500',
  '5. volume': '3425'},
 '2023-02-09 08:00:00': {'1. open': '135.0000',
  '2. high': '135.0000',
  '3. low': '135.0000',
  '4. close': '135.0000',
  '5. volume': '999'},
 '2023-02-09 07:55:00': {'1. open': '135.1000',
  '2. high': '135.1000',
  '3. low': '135.1000',
  '4. close': '135.1000',
  '5. volume': '1160'}}

In [17]:
#попробуем создать датафрэйм
test = pd.DataFrame(data['Time Series (5min)'])
test

,2023-02-09 19:45:00,2023-02-09 19:25:00,2023-02-09 17:30:00,2023-02-09 17:25:00,2023-02-09 17:20:00,2023-02-09 16:40:00,2023-02-09 16:15:00,2023-02-09 16:10:00,2023-02-09 16:05:00,2023-02-09 16:00:00,...,2023-02-09 09:15:00,2023-02-09 09:10:00,2023-02-09 09:05:00,2023-02-09 09:00:00,2023-02-09 08:55:00,2023-02-09 08:45:00,2023-02-09 08:30:00,2023-02-09 08:05:00,2023-02-09 08:00:00,2023-02-09 07:55:00
1. open,133.7500,133.7500,133.7500,134.0000,134.0000,133.7000,133.5000,133.7500,133.7500,133.8950,...,134.9000,134.9100,134.9100,134.9200,134.9100,134.8600,135.0000,135.2490,135.0000,135.1000
2. high,133.7500,133.7500,133.7500,134.0000,134.0000,133.7000,133.8500,133.7500,133.7500,133.9000,...,134.9000,134.9100,134.9100,134.9200,134.9100,134.8600,135.0000,135.2500,135.0000,135.1000
3. low,133.7500,133.7500,133.7500,134.0000,134.0000,133.7000,133.5000,133.7500,133.7500,133.6300,...,134.9000,134.8600,134.9100,134.9200,134.9000,134.8600,135.0000,134.9500,135.0000,135.1000
4. close,133.7500,133.7500,133.7500,134.0000,134.0000,133.7000,133.8500,133.7500,133.7500,133.7300,...,134.9000,134.8600,134.9100,134.9200,134.9100,134.8600,135.0000,134.9500,135.0000,135.1000
5. volume,100,1101,1639,152,104,294,1576,7469,175932,219200,...,184,1180,303,250,1530,600,101,3425,999,1160

In [24]:
#Сделаем красивее
test = test.T
test

                      1. open   2. high    3. low  4. close 5. volume
2023-02-09 19:45:00  133.7500  133.7500  133.7500  133.7500       100
2023-02-09 19:25:00  133.7500  133.7500  133.7500  133.7500      1101
2023-02-09 17:30:00  133.7500  133.7500  133.7500  133.7500      1639
2023-02-09 17:25:00  134.0000  134.0000  134.0000  134.0000       152
2023-02-09 17:20:00  134.0000  134.0000  134.0000  134.0000       104
...                       ...       ...       ...       ...       ...
2023-02-09 08:45:00  134.8600  134.8600  134.8600  134.8600       600
2023-02-09 08:30:00  135.0000  135.0000  135.0000  135.0000       101
2023-02-09 08:05:00  135.2490  135.2500  134.9500  134.9500      3425
2023-02-09 08:00:00  135.0000  135.0000  135.0000  135.0000       999
2023-02-09 07:55:00  135.1000  135.1000  135.1000  135.1000      1160

[100 rows x 5 columns]

In [25]:
#Сложим количество бумаг, чтобы понять оборот
test['5. volume'].sum()

'10011011639152104294157674691759322192001096876807869465702725004636697404832518222100874201151651624032119240461432520283228852074224689210502227621234281001832727778188943163922787151202021227623217281602426789437681649013558206771507420311403322907318243424354155318287215601958218755321224479750067288384946930745344382479221364336492476825868150852431037592452933453324634185262318132256469844891354809593915227070495191326150113325701841180303250153060010134259991160'

In [26]:
#Пробелм в том, что тип данных в колонке не int
test.dtypes

1. open      object
2. high      object
3. low       object
4. close     object
5. volume    object
dtype: object

In [28]:
#Переведем данные в нужный тип
test['5. volume'] = test['5. volume'].astype('int')
test.dtypes

1. open      object
2. high      object
3. low       object
4. close     object
5. volume     int32
dtype: object

In [29]:
#Повторим команду
test['5. volume'].sum()

3190420

- Получение данных корректно

1 - для того, чтобы скачать данные, разработчики предоставляют все возможности и прописывают описание, как это сделать. 
2 - возвращаемся на сайт: https://www.alphavantage.co/documentation/ и копируем следующий код:

In [30]:
import requests

# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=IBM&interval=5min&apikey=demo'
r = requests.get(url)
data2 = r.json()

print(data2)

{'Meta Data': {'1. Information': 'Intraday (5min) open, high, low, close prices and volume', '2. Symbol': 'IBM', '3. Last Refreshed': '2023-02-09 19:45:00', '4. Interval': '5min', '5. Output Size': 'Compact', '6. Time Zone': 'US/Eastern'}, 'Time Series (5min)': {'2023-02-09 19:45:00': {'1. open': '133.7500', '2. high': '133.7500', '3. low': '133.7500', '4. close': '133.7500', '5. volume': '100'}, '2023-02-09 19:25:00': {'1. open': '133.7500', '2. high': '133.7500', '3. low': '133.7500', '4. close': '133.7500', '5. volume': '1101'}, '2023-02-09 17:30:00': {'1. open': '133.7500', '2. high': '133.7500', '3. low': '133.7500', '4. close': '133.7500', '5. volume': '1639'}, '2023-02-09 17:25:00': {'1. open': '134.0000', '2. high': '134.0000', '3. low': '134.0000', '4. close': '134.0000', '5. volume': '152'}, '2023-02-09 17:20:00': {'1. open': '134.0000', '2. high': '134.0000', '3. low': '134.0000', '4. close': '134.0000', '5. volume': '104'}, '2023-02-09 16:40:00': {'1. open': '133.7000', '2. high': '133.7000', '3. low': '133.7000', '4. close': '133.7000', '5. volume': '294'}, '2023-02-09 16:15:00': {'1. open': '133.5000', '2. high': '133.8500', '3. low': '133.5000', '4. close': '133.8500', '5. volume': '1576'}, '2023-02-09 16:10:00': {'1. open': '133.7500', '2. high': '133.7500', '3. low': '133.7500', '4. close': '133.7500', '5. volume': '7469'}, '2023-02-09 16:05:00': {'1. open': '133.7500', '2. high': '133.7500', '3. low': '133.7500', '4. close': '133.7500', '5. volume': '175932'}, '2023-02-09 16:00:00': {'1. open': '133.8950', '2. high': '133.9000', '3. low': '133.6300', '4. close': '133.7300', '5. volume': '219200'}, '2023-02-09 15:55:00': {'1. open': '133.6300', '2. high': '133.9500', '3. low': '133.6200', '4. close': '133.8950', '5. volume': '109687'}, '2023-02-09 15:50:00': {'1. open': '133.6200', '2. high': '133.7700', '3. low': '133.5600', '4. close': '133.6600', '5. volume': '68078'}, '2023-02-09 15:45:00': {'1. open': '133.4918', '2. high': '133.6300', '3. low': '133.4000', '4. close': '133.6150', '5. volume': '69465'}, '2023-02-09 15:40:00': {'1. open': '133.4500', '2. high': '133.5000', '3. low': '133.3400', '4. close': '133.4950', '5. volume': '70272'}, '2023-02-09 15:35:00': {'1. open': '133.5800', '2. high': '133.5800', '3. low': '133.4200', '4. close': '133.4500', '5. volume': '50046'}, '2023-02-09 15:30:00': {'1. open': '133.7500', '2. high': '133.7500', '3. low': '133.5800', '4. close': '133.5800', '5. volume': '36697'}, '2023-02-09 15:25:00': {'1. open': '133.8746', '2. high': '133.9200', '3. low': '133.7338', '4. close': '133.7500', '5. volume': '40483'}, '2023-02-09 15:20:00': {'1. open': '133.8700', '2. high': '133.8900', '3. low': '133.8000', '4. close': '133.8750', '5. volume': '25182'}, '2023-02-09 15:15:00': {'1. open': '133.9700', '2. high': '133.9700', '3. low': '133.8600', '4. close': '133.8700', '5. volume': '22100'}, '2023-02-09 15:10:00': {'1. open': '133.7600', '2. high': '134.0000', '3. low': '133.7300', '4. close': '133.9800', '5. volume': '87420'}, '2023-02-09 15:05:00': {'1. open': '133.6400', '2. high': '133.8000', '3. low': '133.5000', '4. close': '133.7700', '5. volume': '115165'}, '2023-02-09 15:00:00': {'1. open': '133.6100', '2. high': '133.6500', '3. low': '133.5700', '4. close': '133.6400', '5. volume': '16240'}, '2023-02-09 14:55:00': {'1. open': '133.7000', '2. high': '133.7400', '3. low': '133.5700', '4. close': '133.6250', '5. volume': '32119'}, '2023-02-09 14:50:00': {'1. open': '133.7300', '2. high': '133.7500', '3. low': '133.6000', '4. close': '133.7117', '5. volume': '24046'}, '2023-02-09 14:45:00': {'1. open': '133.7202', '2. high': '133.7800', '3. low': '133.6900', '4. close': '133.7300', '5. volume': '14325'}, '2023-02-09 14:40:00': {'1. open': '133.6400', '2. high': '133.7800', '3. low': '133.6200', '4. close': '133.7200', '5. volume': '20283'}, '2023-02-09 14:35:00': {'1. open': '133.6800', '2. high': '133.7700', '3. low': '133.6300', '4. close': '133.6400', '5. volume': '22885'}, '2023-02-09 14:30:00': {'1. open': '133.6800', '2. high': '133.7200', '3. low': '133.6500', '4. close': '133.6622', '5. volume': '20742'}, '2023-02-09 14:25:00': {'1. open': '133.7000', '2. high': '133.8100', '3. low': '133.6800', '4. close': '133.6900', '5. volume': '24689'}, '2023-02-09 14:20:00': {'1. open': '133.8300', '2. high': '133.8400', '3. low': '133.6900', '4. close': '133.7200', '5. volume': '21050'}, '2023-02-09 14:15:00': {'1. open': '133.9900', '2. high': '133.9900', '3. low': '133.8100', '4. close': '133.8300', '5. volume': '22276'}, '2023-02-09 14:10:00': {'1. open': '133.8600', '2. high': '134.0300', '3. low': '133.8300', '4. close': '134.0000', '5. volume': '21234'}, '2023-02-09 14:05:00': {'1. open': '134.0000', '2. high': '134.0704', '3. low': '133.8400', '4. close': '133.8600', '5. volume': '28100'}, '2023-02-09 14:00:00': {'1. open': '134.0300', '2. high': '134.0300', '3. low': '133.9200', '4. close': '134.0000', '5. volume': '18327'}, '2023-02-09 13:55:00': {'1. open': '134.0400', '2. high': '134.0945', '3. low': '133.9410', '4. close': '134.0200', '5. volume': '27778'}, '2023-02-09 13:50:00': {'1. open': '133.9700', '2. high': '134.0500', '3. low': '133.9200', '4. close': '134.0450', '5. volume': '18894'}, '2023-02-09 13:45:00': {'1. open': '134.0900', '2. high': '134.0900', '3. low': '133.9000', '4. close': '133.9864', '5. volume': '31639'}, '2023-02-09 13:40:00': {'1. open': '134.2000', '2. high': '134.2200', '3. low': '134.0800', '4. close': '134.1100', '5. volume': '22787'}, '2023-02-09 13:35:00': {'1. open': '134.1500', '2. high': '134.2900', '3. low': '134.0800', '4. close': '134.1900', '5. volume': '15120'}, '2023-02-09 13:30:00': {'1. open': '134.1700', '2. high': '134.2200', '3. low': '134.1400', '4. close': '134.1500', '5. volume': '20212'}, '2023-02-09 13:25:00': {'1. open': '134.1550', '2. high': '134.1700', '3. low': '134.0950', '4. close': '134.1523', '5. volume': '27623'}, '2023-02-09 13:20:00': {'1. open': '134.0800', '2. high': '134.1600', '3. low': '134.0000', '4. close': '134.1450', '5. volume': '21728'}, '2023-02-09 13:15:00': {'1. open': '134.1300', '2. high': '134.1450', '3. low': '133.9990', '4. close': '134.0500', '5. volume': '16024'}, '2023-02-09 13:10:00': {'1. open': '134.1000', '2. high': '134.1800', '3. low': '134.0600', '4. close': '134.1200', '5. volume': '26789'}, '2023-02-09 13:05:00': {'1. open': '134.1000', '2. high': '134.1432', '3. low': '133.9900', '4. close': '134.0900', '5. volume': '43768'}, '2023-02-09 13:00:00': {'1. open': '134.0700', '2. high': '134.1800', '3. low': '134.0500', '4. close': '134.1000', '5. volume': '16490'}, '2023-02-09 12:55:00': {'1. open': '134.1200', '2. high': '134.1600', '3. low': '134.0500', '4. close': '134.0800', '5. volume': '13558'}, '2023-02-09 12:50:00': {'1. open': '134.1200', '2. high': '134.1500', '3. low': '134.0400', '4. close': '134.1350', '5. volume': '20677'}, '2023-02-09 12:45:00': {'1. open': '134.0700', '2. high': '134.2600', '3. low': '134.0600', '4. close': '134.1500', '5. volume': '15074'}, '2023-02-09 12:40:00': {'1. open': '134.1000', '2. high': '134.2060', '3. low': '134.0300', '4. close': '134.0900', '5. volume': '20311'}, '2023-02-09 12:35:00': {'1. open': '134.3700', '2. high': '134.4380', '3. low': '134.0900', '4. close': '134.1087', '5. volume': '40332'}, '2023-02-09 12:30:00': {'1. open': '134.6099', '2. high': '134.6100', '3. low': '134.3800', '4. close': '134.3800', '5. volume': '29073'}, '2023-02-09 12:25:00': {'1. open': '134.6499', '2. high': '134.6550', '3. low': '134.5550', '4. close': '134.5900', '5. volume': '18243'}, '2023-02-09 12:20:00': {'1. open': '134.7015', '2. high': '134.7015', '3. low': '134.4700', '4. close': '134.6400', '5. volume': '42435'}, '2023-02-09 12:15:00': {'1. open': '134.6700', '2. high': '134.7450', '3. low': '134.6250', '4. close': '134.7000', '5. volume': '41553'}, '2023-02-09 12:10:00': {'1. open': '134.6200', '2. high': '134.6800', '3. low': '134.6100', '4. close': '134.6800', '5. volume': '18287'}, '2023-02-09 12:05:00': {'1. open': '134.5800', '2. high': '134.7350', '3. low': '134.5500', '4. close': '134.6200', '5. volume': '21560'}, '2023-02-09 12:00:00': {'1. open': '134.5500', '2. high': '134.5950', '3. low': '134.5200', '4. close': '134.5503', '5. volume': '19582'}, '2023-02-09 11:55:00': {'1. open': '134.5400', '2. high': '134.6200', '3. low': '134.5200', '4. close': '134.5600', '5. volume': '18755'}, '2023-02-09 11:50:00': {'1. open': '134.6800', '2. high': '134.6800', '3. low': '134.4500', '4. close': '134.5400', '5. volume': '32122'}, '2023-02-09 11:45:00': {'1. open': '134.5800', '2. high': '134.7500', '3. low': '134.4750', '4. close': '134.7000', '5. volume': '44797'}, '2023-02-09 11:40:00': {'1. open': '134.3800', '2. high': '134.5800', '3. low': '134.2700', '4. close': '134.5800', '5. volume': '50067'}, '2023-02-09 11:35:00': {'1. open': '134.3300', '2. high': '134.4100', '3. low': '134.2900', '4. close': '134.3600', '5. volume': '28838'}, '2023-02-09 11:30:00': {'1. open': '134.2600', '2. high': '134.4040', '3. low': '134.2300', '4. close': '134.3400', '5. volume': '49469'}, '2023-02-09 11:25:00': {'1. open': '134.4523', '2. high': '134.4900', '3. low': '134.2100', '4. close': '134.2550', '5. volume': '30745'}, '2023-02-09 11:20:00': {'1. open': '134.6900', '2. high': '134.7000', '3. low': '134.4100', '4. close': '134.4500', '5. volume': '34438'}, '2023-02-09 11:15:00': {'1. open': '134.7700', '2. high': '134.8200', '3. low': '134.6700', '4. close': '134.6800', '5. volume': '24792'}, '2023-02-09 11:10:00': {'1. open': '134.7200', '2. high': '134.7760', '3. low': '134.6500', '4. close': '134.7507', '5. volume': '21364'}, '2023-02-09 11:05:00': {'1. open': '134.9600', '2. high': '134.9950', '3. low': '134.6750', '4. close': '134.7000', '5. volume': '33649'}, '2023-02-09 11:00:00': {'1. open': '135.0400', '2. high': '135.0400', '3. low': '134.9200', '4. close': '134.9750', '5. volume': '24768'}, '2023-02-09 10:55:00': {'1. open': '135.0900', '2. high': '135.1300', '3. low': '134.9750', '4. close': '135.0100', '5. volume': '25868'}, '2023-02-09 10:50:00': {'1. open': '134.9750', '2. high': '135.1300', '3. low': '134.9750', '4. close': '135.0700', '5. volume': '15085'}, '2023-02-09 10:45:00': {'1. open': '134.9600', '2. high': '135.0500', '3. low': '134.8850', '4. close': '134.9752', '5. volume': '24310'}, '2023-02-09 10:40:00': {'1. open': '135.0301', '2. high': '135.0750', '3. low': '134.9350', '4. close': '134.9600', '5. volume': '37592'}, '2023-02-09 10:35:00': {'1. open': '135.1219', '2. high': '135.1400', '3. low': '134.9600', '4. close': '135.0500', '5. volume': '45293'}, '2023-02-09 10:30:00': {'1. open': '135.2800', '2. high': '135.2800', '3. low': '135.0500', '4. close': '135.1600', '5. volume': '34533'}, '2023-02-09 10:25:00': {'1. open': '135.2850', '2. high': '135.3300', '3. low': '135.2100', '4. close': '135.3200', '5. volume': '24634'}, '2023-02-09 10:20:00': {'1. open': '135.1800', '2. high': '135.2900', '3. low': '135.1500', '4. close': '135.2711', '5. volume': '18526'}, '2023-02-09 10:15:00': {'1. open': '135.3700', '2. high': '135.3700', '3. low': '135.1300', '4. close': '135.1650', '5. volume': '23181'}, '2023-02-09 10:10:00': {'1. open': '135.5300', '2. high': '135.5300', '3. low': '135.3000', '4. close': '135.3650', '5. volume': '32256'}, '2023-02-09 10:05:00': {'1. open': '135.4500', '2. high': '135.7300', '3. low': '135.4100', '4. close': '135.5483', '5. volume': '46984'}, '2023-02-09 10:00:00': {'1. open': '135.3900', '2. high': '135.5400', '3. low': '135.3300', '4. close': '135.5000', '5. volume': '48913'}, '2023-02-09 09:55:00': {'1. open': '135.1300', '2. high': '135.4100', '3. low': '135.0800', '4. close': '135.3800', '5. volume': '54809'}, '2023-02-09 09:50:00': {'1. open': '134.9400', '2. high': '135.0800', '3. low': '134.7800', '4. close': '135.0650', '5. volume': '59391'}, '2023-02-09 09:45:00': {'1. open': '134.7800', '2. high': '134.9450', '3. low': '134.6600', '4. close': '134.9200', '5. volume': '52270'}, '2023-02-09 09:40:00': {'1. open': '134.9400', '2. high': '135.1200', '3. low': '134.7100', '4. close': '134.8200', '5. volume': '70495'}, '2023-02-09 09:35:00': {'1. open': '134.9900', '2. high': '135.1800', '3. low': '134.8500', '4. close': '134.9400', '5. volume': '191326'}, '2023-02-09 09:30:00': {'1. open': '134.9200', '2. high': '134.9600', '3. low': '134.9200', '4. close': '134.9600', '5. volume': '1501'}, '2023-02-09 09:25:00': {'1. open': '134.9000', '2. high': '134.9000', '3. low': '134.9000', '4. close': '134.9000', '5. volume': '1332'}, '2023-02-09 09:20:00': {'1. open': '134.9599', '2. high': '134.9599', '3. low': '134.9300', '4. close': '134.9300', '5. volume': '570'}, '2023-02-09 09:15:00': {'1. open': '134.9000', '2. high': '134.9000', '3. low': '134.9000', '4. close': '134.9000', '5. volume': '184'}, '2023-02-09 09:10:00': {'1. open': '134.9100', '2. high': '134.9100', '3. low': '134.8600', '4. close': '134.8600', '5. volume': '1180'}, '2023-02-09 09:05:00': {'1. open': '134.9100', '2. high': '134.9100', '3. low': '134.9100', '4. close': '134.9100', '5. volume': '303'}, '2023-02-09 09:00:00': {'1. open': '134.9200', '2. high': '134.9200', '3. low': '134.9200', '4. close': '134.9200', '5. volume': '250'}, '2023-02-09 08:55:00': {'1. open': '134.9100', '2. high': '134.9100', '3. low': '134.9000', '4. close': '134.9100', '5. volume': '1530'}, '2023-02-09 08:45:00': {'1. open': '134.8600', '2. high': '134.8600', '3. low': '134.8600', '4. close': '134.8600', '5. volume': '600'}, '2023-02-09 08:30:00': {'1. open': '135.0000', '2. high': '135.0000', '3. low': '135.0000', '4. close': '135.0000', '5. volume': '101'}, '2023-02-09 08:05:00': {'1. open': '135.2490', '2. high': '135.2500', '3. low': '134.9500', '4. close': '134.9500', '5. volume': '3425'}, '2023-02-09 08:00:00': {'1. open': '135.0000', '2. high': '135.0000', '3. low': '135.0000', '4. close': '135.0000', '5. volume': '999'}, '2023-02-09 07:55:00': {'1. open': '135.1000', '2. high': '135.1000', '3. low': '135.1000', '4. close': '135.1000', '5. volume': '1160'}}}

In [32]:
#Ключи у нас остались теже
data.keys()

dict_keys(['Meta Data', 'Time Series (5min)'])

In [34]:
#Повторим команду получения суммы операций
#Как мы видим, нам не пришлось заниматься обработкой данных и т.д.
test['5. volume'].sum()

3190420

In [35]:
data2

{'Meta Data': {'1. Information': 'Intraday (5min) open, high, low, close prices and volume',
  '2. Symbol': 'IBM',
  '3. Last Refreshed': '2023-02-09 19:45:00',
  '4. Interval': '5min',
  '5. Output Size': 'Compact',
  '6. Time Zone': 'US/Eastern'},
 'Time Series (5min)': {'2023-02-09 19:45:00': {'1. open': '133.7500',
   '2. high': '133.7500',
   '3. low': '133.7500',
   '4. close': '133.7500',
   '5. volume': '100'},
  '2023-02-09 19:25:00': {'1. open': '133.7500',
   '2. high': '133.7500',
   '3. low': '133.7500',
   '4. close': '133.7500',
   '5. volume': '1101'},
  '2023-02-09 17:30:00': {'1. open': '133.7500',
   '2. high': '133.7500',
   '3. low': '133.7500',
   '4. close': '133.7500',
   '5. volume': '1639'},
  '2023-02-09 17:25:00': {'1. open': '134.0000',
   '2. high': '134.0000',
   '3. low': '134.0000',
   '4. close': '134.0000',
   '5. volume': '152'},
  '2023-02-09 17:20:00': {'1. open': '134.0000',
   '2. high': '134.0000',
   '3. low': '134.0000',
   '4. close': '134.0000',
   '5. volume': '104'},
  '2023-02-09 16:40:00': {'1. open': '133.7000',
   '2. high': '133.7000',
   '3. low': '133.7000',
   '4. close': '133.7000',
   '5. volume': '294'},
  '2023-02-09 16:15:00': {'1. open': '133.5000',
   '2. high': '133.8500',
   '3. low': '133.5000',
   '4. close': '133.8500',
   '5. volume': '1576'},
  '2023-02-09 16:10:00': {'1. open': '133.7500',
   '2. high': '133.7500',
   '3. low': '133.7500',
   '4. close': '133.7500',
   '5. volume': '7469'},
  '2023-02-09 16:05:00': {'1. open': '133.7500',
   '2. high': '133.7500',
   '3. low': '133.7500',
   '4. close': '133.7500',
   '5. volume': '175932'},
  '2023-02-09 16:00:00': {'1. open': '133.8950',
   '2. high': '133.9000',
   '3. low': '133.6300',
   '4. close': '133.7300',
   '5. volume': '219200'},
  '2023-02-09 15:55:00': {'1. open': '133.6300',
   '2. high': '133.9500',
   '3. low': '133.6200',
   '4. close': '133.8950',
   '5. volume': '109687'},
  '2023-02-09 15:50:00': {'1. open': '133.6200',
   '2. high': '133.7700',
   '3. low': '133.5600',
   '4. close': '133.6600',
   '5. volume': '68078'},
  '2023-02-09 15:45:00': {'1. open': '133.4918',
   '2. high': '133.6300',
   '3. low': '133.4000',
   '4. close': '133.6150',
   '5. volume': '69465'},
  '2023-02-09 15:40:00': {'1. open': '133.4500',
   '2. high': '133.5000',
   '3. low': '133.3400',
   '4. close': '133.4950',
   '5. volume': '70272'},
  '2023-02-09 15:35:00': {'1. open': '133.5800',
   '2. high': '133.5800',
   '3. low': '133.4200',
   '4. close': '133.4500',
   '5. volume': '50046'},
  '2023-02-09 15:30:00': {'1. open': '133.7500',
   '2. high': '133.7500',
   '3. low': '133.5800',
   '4. close': '133.5800',
   '5. volume': '36697'},
  '2023-02-09 15:25:00': {'1. open': '133.8746',
   '2. high': '133.9200',
   '3. low': '133.7338',
   '4. close': '133.7500',
   '5. volume': '40483'},
  '2023-02-09 15:20:00': {'1. open': '133.8700',
   '2. high': '133.8900',
   '3. low': '133.8000',
   '4. close': '133.8750',
   '5. volume': '25182'},
  '2023-02-09 15:15:00': {'1. open': '133.9700',
   '2. high': '133.9700',
   '3. low': '133.8600',
   '4. close': '133.8700',
   '5. volume': '22100'},
  '2023-02-09 15:10:00': {'1. open': '133.7600',
   '2. high': '134.0000',
   '3. low': '133.7300',
   '4. close': '133.9800',
   '5. volume': '87420'},
  '2023-02-09 15:05:00': {'1. open': '133.6400',
   '2. high': '133.8000',
   '3. low': '133.5000',
   '4. close': '133.7700',
   '5. volume': '115165'},
  '2023-02-09 15:00:00': {'1. open': '133.6100',
   '2. high': '133.6500',
   '3. low': '133.5700',
   '4. close': '133.6400',
   '5. volume': '16240'},
  '2023-02-09 14:55:00': {'1. open': '133.7000',
   '2. high': '133.7400',
   '3. low': '133.5700',
   '4. close': '133.6250',
   '5. volume': '32119'},
  '2023-02-09 14:50:00': {'1. open': '133.7300',
   '2. high': '133.7500',
   '3. low': '133.6000',
   '4. close': '133.7117',
   '5. volume': '24046'},
  '2023-02-09 14:45:00': {'1. open': '133.7202',
   '2. high': '133.7800',
   '3. low': '133.6900',
   '4. close': '133.7300',
   '5. volume': '14325'},
  '2023-02-09 14:40:00': {'1. open': '133.6400',
   '2. high': '133.7800',
   '3. low': '133.6200',
   '4. close': '133.7200',
   '5. volume': '20283'},
  '2023-02-09 14:35:00': {'1. open': '133.6800',
   '2. high': '133.7700',
   '3. low': '133.6300',
   '4. close': '133.6400',
   '5. volume': '22885'},
  '2023-02-09 14:30:00': {'1. open': '133.6800',
   '2. high': '133.7200',
   '3. low': '133.6500',
   '4. close': '133.6622',
   '5. volume': '20742'},
  '2023-02-09 14:25:00': {'1. open': '133.7000',
   '2. high': '133.8100',
   '3. low': '133.6800',
   '4. close': '133.6900',
   '5. volume': '24689'},
  '2023-02-09 14:20:00': {'1. open': '133.8300',
   '2. high': '133.8400',
   '3. low': '133.6900',
   '4. close': '133.7200',
   '5. volume': '21050'},
  '2023-02-09 14:15:00': {'1. open': '133.9900',
   '2. high': '133.9900',
   '3. low': '133.8100',
   '4. close': '133.8300',
   '5. volume': '22276'},
  '2023-02-09 14:10:00': {'1. open': '133.8600',
   '2. high': '134.0300',
   '3. low': '133.8300',
   '4. close': '134.0000',
   '5. volume': '21234'},
  '2023-02-09 14:05:00': {'1. open': '134.0000',
   '2. high': '134.0704',
   '3. low': '133.8400',
   '4. close': '133.8600',
   '5. volume': '28100'},
  '2023-02-09 14:00:00': {'1. open': '134.0300',
   '2. high': '134.0300',
   '3. low': '133.9200',
   '4. close': '134.0000',
   '5. volume': '18327'},
  '2023-02-09 13:55:00': {'1. open': '134.0400',
   '2. high': '134.0945',
   '3. low': '133.9410',
   '4. close': '134.0200',
   '5. volume': '27778'},
  '2023-02-09 13:50:00': {'1. open': '133.9700',
   '2. high': '134.0500',
   '3. low': '133.9200',
   '4. close': '134.0450',
   '5. volume': '18894'},
  '2023-02-09 13:45:00': {'1. open': '134.0900',
   '2. high': '134.0900',
   '3. low': '133.9000',
   '4. close': '133.9864',
   '5. volume': '31639'},
  '2023-02-09 13:40:00': {'1. open': '134.2000',
   '2. high': '134.2200',
   '3. low': '134.0800',
   '4. close': '134.1100',
   '5. volume': '22787'},
  '2023-02-09 13:35:00': {'1. open': '134.1500',
   '2. high': '134.2900',
   '3. low': '134.0800',
   '4. close': '134.1900',
   '5. volume': '15120'},
  '2023-02-09 13:30:00': {'1. open': '134.1700',
   '2. high': '134.2200',
   '3. low': '134.1400',
   '4. close': '134.1500',
   '5. volume': '20212'},
  '2023-02-09 13:25:00': {'1. open': '134.1550',
   '2. high': '134.1700',
   '3. low': '134.0950',
   '4. close': '134.1523',
   '5. volume': '27623'},
  '2023-02-09 13:20:00': {'1. open': '134.0800',
   '2. high': '134.1600',
   '3. low': '134.0000',
   '4. close': '134.1450',
   '5. volume': '21728'},
  '2023-02-09 13:15:00': {'1. open': '134.1300',
   '2. high': '134.1450',
   '3. low': '133.9990',
   '4. close': '134.0500',
   '5. volume': '16024'},
  '2023-02-09 13:10:00': {'1. open': '134.1000',
   '2. high': '134.1800',
   '3. low': '134.0600',
   '4. close': '134.1200',
   '5. volume': '26789'},
  '2023-02-09 13:05:00': {'1. open': '134.1000',
   '2. high': '134.1432',
   '3. low': '133.9900',
   '4. close': '134.0900',
   '5. volume': '43768'},
  '2023-02-09 13:00:00': {'1. open': '134.0700',
   '2. high': '134.1800',
   '3. low': '134.0500',
   '4. close': '134.1000',
   '5. volume': '16490'},
  '2023-02-09 12:55:00': {'1. open': '134.1200',
   '2. high': '134.1600',
   '3. low': '134.0500',
   '4. close': '134.0800',
   '5. volume': '13558'},
  '2023-02-09 12:50:00': {'1. open': '134.1200',
   '2. high': '134.1500',
   '3. low': '134.0400',
   '4. close': '134.1350',
   '5. volume': '20677'},
  '2023-02-09 12:45:00': {'1. open': '134.0700',
   '2. high': '134.2600',
   '3. low': '134.0600',
   '4. close': '134.1500',
   '5. volume': '15074'},
  '2023-02-09 12:40:00': {'1. open': '134.1000',
   '2. high': '134.2060',
   '3. low': '134.0300',
   '4. close': '134.0900',
   '5. volume': '20311'},
  '2023-02-09 12:35:00': {'1. open': '134.3700',
   '2. high': '134.4380',
   '3. low': '134.0900',
   '4. close': '134.1087',
   '5. volume': '40332'},
  '2023-02-09 12:30:00': {'1. open': '134.6099',
   '2. high': '134.6100',
   '3. low': '134.3800',
   '4. close': '134.3800',
   '5. volume': '29073'},
  '2023-02-09 12:25:00': {'1. open': '134.6499',
   '2. high': '134.6550',
   '3. low': '134.5550',
   '4. close': '134.5900',
   '5. volume': '18243'},
  '2023-02-09 12:20:00': {'1. open': '134.7015',
   '2. high': '134.7015',
   '3. low': '134.4700',
   '4. close': '134.6400',
   '5. volume': '42435'},
  '2023-02-09 12:15:00': {'1. open': '134.6700',
   '2. high': '134.7450',
   '3. low': '134.6250',
   '4. close': '134.7000',
   '5. volume': '41553'},
  '2023-02-09 12:10:00': {'1. open': '134.6200',
   '2. high': '134.6800',
   '3. low': '134.6100',
   '4. close': '134.6800',
   '5. volume': '18287'},
  '2023-02-09 12:05:00': {'1. open': '134.5800',
   '2. high': '134.7350',
   '3. low': '134.5500',
   '4. close': '134.6200',
   '5. volume': '21560'},
  '2023-02-09 12:00:00': {'1. open': '134.5500',
   '2. high': '134.5950',
   '3. low': '134.5200',
   '4. close': '134.5503',
   '5. volume': '19582'},
  '2023-02-09 11:55:00': {'1. open': '134.5400',
   '2. high': '134.6200',
   '3. low': '134.5200',
   '4. close': '134.5600',
   '5. volume': '18755'},
  '2023-02-09 11:50:00': {'1. open': '134.6800',
   '2. high': '134.6800',
   '3. low': '134.4500',
   '4. close': '134.5400',
   '5. volume': '32122'},
  '2023-02-09 11:45:00': {'1. open': '134.5800',
   '2. high': '134.7500',
   '3. low': '134.4750',
   '4. close': '134.7000',
   '5. volume': '44797'},
  '2023-02-09 11:40:00': {'1. open': '134.3800',
   '2. high': '134.5800',
   '3. low': '134.2700',
   '4. close': '134.5800',
   '5. volume': '50067'},
  '2023-02-09 11:35:00': {'1. open': '134.3300',
   '2. high': '134.4100',
   '3. low': '134.2900',
   '4. close': '134.3600',
   '5. volume': '28838'},
  '2023-02-09 11:30:00': {'1. open': '134.2600',
   '2. high': '134.4040',
   '3. low': '134.2300',
   '4. close': '134.3400',
   '5. volume': '49469'},
  '2023-02-09 11:25:00': {'1. open': '134.4523',
   '2. high': '134.4900',
   '3. low': '134.2100',
   '4. close': '134.2550',
   '5. volume': '30745'},
  '2023-02-09 11:20:00': {'1. open': '134.6900',
   '2. high': '134.7000',
   '3. low': '134.4100',
   '4. close': '134.4500',
   '5. volume': '34438'},
  '2023-02-09 11:15:00': {'1. open': '134.7700',
   '2. high': '134.8200',
   '3. low': '134.6700',
   '4. close': '134.6800',
   '5. volume': '24792'},
  '2023-02-09 11:10:00': {'1. open': '134.7200',
   '2. high': '134.7760',
   '3. low': '134.6500',
   '4. close': '134.7507',
   '5. volume': '21364'},
  '2023-02-09 11:05:00': {'1. open': '134.9600',
   '2. high': '134.9950',
   '3. low': '134.6750',
   '4. close': '134.7000',
   '5. volume': '33649'},
  '2023-02-09 11:00:00': {'1. open': '135.0400',
   '2. high': '135.0400',
   '3. low': '134.9200',
   '4. close': '134.9750',
   '5. volume': '24768'},
  '2023-02-09 10:55:00': {'1. open': '135.0900',
   '2. high': '135.1300',
   '3. low': '134.9750',
   '4. close': '135.0100',
   '5. volume': '25868'},
  '2023-02-09 10:50:00': {'1. open': '134.9750',
   '2. high': '135.1300',
   '3. low': '134.9750',
   '4. close': '135.0700',
   '5. volume': '15085'},
  '2023-02-09 10:45:00': {'1. open': '134.9600',
   '2. high': '135.0500',
   '3. low': '134.8850',
   '4. close': '134.9752',
   '5. volume': '24310'},
  '2023-02-09 10:40:00': {'1. open': '135.0301',
   '2. high': '135.0750',
   '3. low': '134.9350',
   '4. close': '134.9600',
   '5. volume': '37592'},
  '2023-02-09 10:35:00': {'1. open': '135.1219',
   '2. high': '135.1400',
   '3. low': '134.9600',
   '4. close': '135.0500',
   '5. volume': '45293'},
  '2023-02-09 10:30:00': {'1. open': '135.2800',
   '2. high': '135.2800',
   '3. low': '135.0500',
   '4. close': '135.1600',
   '5. volume': '34533'},
  '2023-02-09 10:25:00': {'1. open': '135.2850',
   '2. high': '135.3300',
   '3. low': '135.2100',
   '4. close': '135.3200',
   '5. volume': '24634'},
  '2023-02-09 10:20:00': {'1. open': '135.1800',
   '2. high': '135.2900',
   '3. low': '135.1500',
   '4. close': '135.2711',
   '5. volume': '18526'},
  '2023-02-09 10:15:00': {'1. open': '135.3700',
   '2. high': '135.3700',
   '3. low': '135.1300',
   '4. close': '135.1650',
   '5. volume': '23181'},
  '2023-02-09 10:10:00': {'1. open': '135.5300',
   '2. high': '135.5300',
   '3. low': '135.3000',
   '4. close': '135.3650',
   '5. volume': '32256'},
  '2023-02-09 10:05:00': {'1. open': '135.4500',
   '2. high': '135.7300',
   '3. low': '135.4100',
   '4. close': '135.5483',
   '5. volume': '46984'},
  '2023-02-09 10:00:00': {'1. open': '135.3900',
   '2. high': '135.5400',
   '3. low': '135.3300',
   '4. close': '135.5000',
   '5. volume': '48913'},
  '2023-02-09 09:55:00': {'1. open': '135.1300',
   '2. high': '135.4100',
   '3. low': '135.0800',
   '4. close': '135.3800',
   '5. volume': '54809'},
  '2023-02-09 09:50:00': {'1. open': '134.9400',
   '2. high': '135.0800',
   '3. low': '134.7800',
   '4. close': '135.0650',
   '5. volume': '59391'},
  '2023-02-09 09:45:00': {'1. open': '134.7800',
   '2. high': '134.9450',
   '3. low': '134.6600',
   '4. close': '134.9200',
   '5. volume': '52270'},
  '2023-02-09 09:40:00': {'1. open': '134.9400',
   '2. high': '135.1200',
   '3. low': '134.7100',
   '4. close': '134.8200',
   '5. volume': '70495'},
  '2023-02-09 09:35:00': {'1. open': '134.9900',
   '2. high': '135.1800',
   '3. low': '134.8500',
   '4. close': '134.9400',
   '5. volume': '191326'},
  '2023-02-09 09:30:00': {'1. open': '134.9200',
   '2. high': '134.9600',
   '3. low': '134.9200',
   '4. close': '134.9600',
   '5. volume': '1501'},
  '2023-02-09 09:25:00': {'1. open': '134.9000',
   '2. high': '134.9000',
   '3. low': '134.9000',
   '4. close': '134.9000',
   '5. volume': '1332'},
  '2023-02-09 09:20:00': {'1. open': '134.9599',
   '2. high': '134.9599',
   '3. low': '134.9300',
   '4. close': '134.9300',
   '5. volume': '570'},
  '2023-02-09 09:15:00': {'1. open': '134.9000',
   '2. high': '134.9000',
   '3. low': '134.9000',
   '4. close': '134.9000',
   '5. volume': '184'},
  '2023-02-09 09:10:00': {'1. open': '134.9100',
   '2. high': '134.9100',
   '3. low': '134.8600',
   '4. close': '134.8600',
   '5. volume': '1180'},
  '2023-02-09 09:05:00': {'1. open': '134.9100',
   '2. high': '134.9100',
   '3. low': '134.9100',
   '4. close': '134.9100',
   '5. volume': '303'},
  '2023-02-09 09:00:00': {'1. open': '134.9200',
   '2. high': '134.9200',
   '3. low': '134.9200',
   '4. close': '134.9200',
   '5. volume': '250'},
  '2023-02-09 08:55:00': {'1. open': '134.9100',
   '2. high': '134.9100',
   '3. low': '134.9000',
   '4. close': '134.9100',
   '5. volume': '1530'},
  '2023-02-09 08:45:00': {'1. open': '134.8600',
   '2. high': '134.8600',
   '3. low': '134.8600',
   '4. close': '134.8600',
   '5. volume': '600'},
  '2023-02-09 08:30:00': {'1. open': '135.0000',
   '2. high': '135.0000',
   '3. low': '135.0000',
   '4. close': '135.0000',
   '5. volume': '101'},
  '2023-02-09 08:05:00': {'1. open': '135.2490',
   '2. high': '135.2500',
   '3. low': '134.9500',
   '4. close': '134.9500',
   '5. volume': '3425'},
  '2023-02-09 08:00:00': {'1. open': '135.0000',
   '2. high': '135.0000',
   '3. low': '135.0000',
   '4. close': '135.0000',
   '5. volume': '999'},
  '2023-02-09 07:55:00': {'1. open': '135.1000',
   '2. high': '135.1000',
   '3. low': '135.1000',
   '4. close': '135.1000',
   '5. volume': '1160'}}}

- резюме:
Формат JSON частенько встречает в клиент-серверном взаимодействии, поэтому его лучше знать. Не всегда, но часто.

# Практическая часть

## Задачка 1
Скачайте набор данных в формате JSON. Набор данных позволяет получить информацию о видах билетов и тарифах на проезд в метрополитене и монорельсе, наземном пассажирском транспорте и пригородном железнодорожном транспорте города Москвы.

Источник данных: Портал открытых данных Правительства Москвы: Тарифы на проезд в городском пассажирском транспорте

Скачайте файл JSON. Загрузите данные в датафрейм и определите самый дешевый тариф. Стоимость указана в столбце TicketCost, а наименование тарифа NameOfTariff

В поле ответа вставьте значение из столбца NameOfTariff

In [45]:
#Комментарий от меня: чтобы получить корректные данные. необходимо было
#произвести кодировку encoding="windows-1251"

d = pd.read_json('Z:\\Programming\\DataSciense\\Stepik_Pandas_Numpy\\Step_4.4._Задачка1.json',
                encoding="windows-1251")

In [47]:
d.loc[d['TicketCost'] == d['TicketCost'].min(), ['NameOfTariff']]

          NameOfTariff
17  «Разовый» льготный

## Задачка 2
Возвращаемся к выгрузке про пользователей из социальной сети. Снова загрузите ее в датафрейм, оставьте только столбцы username, name, sex и сохраните в формате json (кодировка utf8). Сохранение выполните таким образом чтобы ключами были названия колонок, а значениями вложенные словари, которые будут хранить лейбл строки и само значение:
![](https://ucarecdn.com/2bb216bc-872d-4469-b16a-c65d661c1e5a/)
Когда функция to_json сохранит файл - загружайте на степик. Дополнительно форматировать результат для лучшей читаемости не следует. Чтобы тестовая система приняла результат - в файле .json должна быть всего одна строка.

In [55]:
d2 = pd.read_csv('Z:\\Programming\\DataSciense\\Stepik_Pandas_Numpy\\Step.4.4_Задача2.csv', sep = ';')
d2d

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,address,mail,birthdate
0,Records manager,Duncan-Garcia,241-62-8803,"309 Danielle Cliffs\nNorth Amy, NC 69960","(Decimal('-79.694044'), Decimal('145.837904'))",AB+,"['http://www.lara-atkins.info/', 'https://vela...",lambertemma,Stacy Reed,F,"9881 Brown Mission\nWest Marcus, CO 88576",vsmith@yahoo.com,1980-01-04
1,Mental health nurse,Rose-Lee,899-12-4937,Unit 5929 Box 0845\nDPO AE 45149,"(Decimal('16.6696785'), Decimal('-38.243842'))",A-,"['http://jackson-sanchez.net/', 'https://www.g...",greid,Carol Farley,F,USNS Burke\nFPO AE 09663,graceholloway@yahoo.com,1918-07-08
2,Furniture conservator/restorer,Potts and Sons,261-41-9484,"130 Vargas Trail Apt. 244\nNorth Rebecca, WV 1...","(Decimal('-27.9623815'), Decimal('75.091620'))",B-,"['https://www.mclaughlin.com/', 'http://www.gi...",scottmercado,Russell Whitaker,M,"9023 Julie Highway\nJonathanfurt, NE 70139",ghart@gmail.com,1946-09-11
3,Ambulance person,Rivera Inc,201-43-6181,"7173 Adrian Shoal\nWest Paul, NJ 24509","(Decimal('20.706462'), Decimal('-99.445622'))",B-,"['https://smith.net/', 'https://garcia-nichols...",kristin75,Maureen Powers,F,9431 Cunningham Divide Suite 663\nKnightcheste...,stacy77@yahoo.com,1960-07-01
4,Contracting civil engineer,Hatfield Group,878-83-6667,"558 Andrea Prairie Apt. 869\nGeraldside, TX 73555","(Decimal('-5.886452'), Decimal('105.424264'))",O+,['https://curry-mitchell.com/'],lhansen,Edward Mcdonald,M,"58853 Jennifer Brooks Suite 754\nMichaelfort, ...",emoore@yahoo.com,1940-10-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,"Journalist, magazine",Sanchez-Gaines,875-62-2622,"48025 Timothy Union Apt. 827\nSalinasmouth, KS...","(Decimal('75.694690'), Decimal('-161.188628'))",O+,['http://www.owens.com/'],johnsongwendolyn,Matthew Simpson,M,Unit 8892 Box 2518\nDPO AA 99533,washingtonkimberly@yahoo.com,1909-03-19
196,Fast food restaurant manager,Clarke and Sons,765-06-4388,"486 Brown Rue\nPort David, TN 48976","(Decimal('-9.051888'), Decimal('-93.850791'))",A+,"['http://rodriguez.biz/', 'https://turner.com/...",elijahlittle,Joshua Landry,M,"37704 Erica Dam Suite 774\nBrooksview, NJ 40421",josephcoleman@gmail.com,2016-04-08
197,"Surveyor, quantity",Clarke-Sloan,145-26-8248,"837 Sarah Fields Apt. 475\nRichburgh, HI 55809","(Decimal('87.1385785'), Decimal('-138.993305'))",AB+,"['https://www.ward-smith.biz/', 'http://www.wa...",robert89,Kimberly Cameron,F,0878 Allen Squares Apt. 596\nLake Cynthiamouth...,lsimmons@gmail.com,1999-01-31
198,"Psychologist, counselling",Flores LLC,200-23-4183,6114 Allen Avenue Suite 393\nSouth Patriciafur...,"(Decimal('34.537353'), Decimal('-48.665613'))",AB+,"['http://www.carson.net/', 'https://walton-tho...",todd08,Suzanne Garner,F,"768 Johnson Ways\nLake Tammybury, MA 92114",hilladrienne@hotmail.com,1921-10-11
199,Metallurgist,Ochoa and Sons,368-59-9211,"9907 Nicholson Manor Suite 438\nEast Paul, LA ...","(Decimal('40.3287505'), Decimal('55.569328'))",AB-,"['https://www.reed.info/', 'http://mcguire.com...",joshuaforbes,Jesus Clark,M,"6741 Jordan Field Apt. 806\nHartview, KS 08132",pamelaknight@gmail.com,2015-03-12

In [56]:
d2_json = d2[['username', 'name', 'sex']]
d2_json

             username              name sex
0         lambertemma        Stacy Reed   F
1               greid      Carol Farley   F
2        scottmercado  Russell Whitaker   M
3           kristin75    Maureen Powers   F
4             lhansen   Edward Mcdonald   M
..                ...               ...  ..
195  johnsongwendolyn   Matthew Simpson   M
196      elijahlittle     Joshua Landry   M
197          robert89  Kimberly Cameron   F
198            todd08    Suzanne Garner   F
199      joshuaforbes       Jesus Clark   M

[200 rows x 3 columns]

In [57]:
d2_json.to_json('Z:\\Programming\\DataSciense\\Stepik_Pandas_Numpy\\Step.4.4_Задача2.json')