In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame({'user': ['Petr@', 'Nikolay', 'Igor', 'Pavel!'],
                       'fullname': ['Petr::Ivanov', 'Nikolay::Petrov', 'Igor::Sidorov', 'Pavel::Ivanov']})

In [5]:
df

      user         fullname
0    Petr@     Petr::Ivanov
1  Nikolay  Nikolay::Petrov
2     Igor    Igor::Sidorov
3   Pavel!    Pavel::Ivanov

–ú—ã —Ä–∞—Å—Å–º–æ—Ç—Ä–∏–º —Å—Ç—Ä–æ–∫–æ–≤—É—é —Ñ—É–Ω–∫—Ü–∏—é .str.replace(). –ù–µ –ø—É—Ç–∞–π—Ç–µ, –ø–æ–∂–∞–ª—É–π—Å—Ç–∞, –µ–µ —Å —ç—Ç–æ–π —Ñ—É–Ω–∫—Ü–∏–µ–π replace

In [10]:
df['user'] = df['user'].str.replace('@', '')

In [11]:
df

      user         fullname
0     Petr     Petr::Ivanov
1  Nikolay  Nikolay::Petrov
2     Igor    Igor::Sidorov
3   Pavel!    Pavel::Ivanov

–î–∞–Ω–Ω–æ–≥–æ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞ –º–æ–∂–Ω–æ –¥–æ—Å—Ç–∏–≥–Ω—É—Ç—å —Å –ø–æ–º–æ—â—å—é —Ñ—É–Ω–∫—Ü–∏–∏ map

In [12]:
def f(x):
    return x.replace('@','')

In [13]:
df['user'].map(f)

0       Petr
1    Nikolay
2       Igor
3     Pavel!
Name: user, dtype: object

–í —Å–ª—É—á–∞–µ —Å map –∏ –Ω–∞—à–µ–π —Ñ—É–Ω–∫—Ü–∏–µ–π, –µ—Å—Ç—å –æ–¥–Ω–æ –Ω–æ! –ï—Å–ª–∏ —É –Ω–∞—Å –ø—Ä–æ–ø—É—Å–∫ –≤ —Å–µ—Ä–∏–∏. —Ç–æ –º—ã –ø–æ–ª—É—á–∏–º –æ—à–∏–±–∫—É!
–ü–µ—Ä–µ–ø–∏—à–µ–º –Ω–∞—à –î–∞—Ç–∞—Ñ—Ä—ç–π–º –∏ –Ω–∞—à—É —Ñ—É–Ω–∫—Ü–∏—é.

In [14]:
df = pd.DataFrame({'user': ['Petr@', 'Nikolay', 'Igor', 'Pavel!', np.nan],
                       'fullname': ['Petr::Ivanov', 'Nikolay::Petrov', 'Igor::Sidorov', 'Pavel::Ivanov',np.nan]})

In [15]:
df

      user         fullname
0    Petr@     Petr::Ivanov
1  Nikolay  Nikolay::Petrov
2     Igor    Igor::Sidorov
3   Pavel!    Pavel::Ivanov
4      NaN              NaN

In [16]:
def f(x):
    print(x)
    return x.replace('@','')

In [18]:
#–ù–∞ nan –Ω–∞—à–∞ —Ñ—É–Ω–∫—Ü–∏—è —Å–ª–æ–º–∞–ª–∞—Å—å!
df['user'].map(f)

Petr@
Nikolay
Igor
Pavel!
nan

AttributeError: 'float' object has no attribute 'replace'

In [20]:
#–û–±—Ä–∞—Ç–∏–º—Å—è –∫ –Ω–∞—à–µ–º—É –¥–∞—Ç–∞—Ñ—Ä—ç–π–º—É —Å –ø–æ–º–æ—â—å—é .str.replace()
#–ù–∏–∫–∞–∫–∏—Ö –ø—Ä–æ–±–ª–µ–º —É –Ω–∞—Å –Ω–µ—Ç
df['user'].str.replace('@', '')

0       Petr
1    Nikolay
2       Igor
3     Pavel!
4        NaN
Name: user, dtype: object

–ß—Ç–æ–±—ã –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –æ—Å—Ç–∞–ª—å–Ω—ã–µ —Å—Ç—Ä–æ–∫–æ–≤—ã–µ —Ñ-–∏–∏, –∫ –∫–æ—Ç–æ—Ä—ã–º –º—ã –ø—Ä–∏–≤—ã–∫–ª–∏, –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å .str!!!

In [21]:
df['user'].str.upper()

0      PETR@
1    NIKOLAY
2       IGOR
3     PAVEL!
4        NaN
Name: user, dtype: object

In [22]:
df['user'].str[1]

0      e
1      i
2      g
3      a
4    NaN
Name: user, dtype: object

In [24]:
df['user'].str.capitalize()

0      Petr@
1    Nikolay
2       Igor
3     Pavel!
4        NaN
Name: user, dtype: object

–ï—Å–ª–∏ –≤—ã —Ö–æ—Ç–∏—Ç–µ —á—Ç–æ–±—ã –∫–∞–∂–¥–æ–µ —Å–ª–æ–≤–æ –≤ —Å—Ç—Ä–æ–∫–µ –Ω–∞—á–∏–Ω–∞–ª–æ—Å—å —Å –±–æ–ª—å—à–æ–π –±—É–∫–≤—ã, —Ç–æ–≥–¥–∞ –≤–æ—Å–ø–æ–ª—å–∑—É–π—Ç–µ—Å—å —Ñ—É–Ω–∫—Ü–∏–π title.

–°—Ä–∞–≤–Ω–µ–Ω–∏–µ upper —Å title:

–§—É–Ω–∫—Ü–∏—è upper –ø—Ä–µ–æ–±—Ä–∞–∑—É–µ—Ç "hello dear pandas!" –≤  "HELLO DEAR PANDAS!"

–§—É–Ω–∫—Ü–∏—è title –ø—Ä–µ–æ–±—Ä–∞–∑—É–µ—Ç "hello dear pandas!" –≤  "Hello Dear Pandas!"

# –ü—Ä–∞–∫—Ç–∏–∫–∞

# –ó–∞–¥–∞—á–∞ ‚Ññ1
–í —ç—Ç–æ–º —É—Ä–æ–∫–µ –º—ã –±—É–¥–µ–º —Ä–∞–±–æ—Ç–∞—Ç—å —Å –¥–∞–Ω–Ω—ã–º–∏ –æ–¥–Ω–æ–π –∞–≤—Ç–æ—Ç—Ä–∞–Ω—Å–ø–æ—Ä—Ç–Ω–æ–π –∫–æ–º–ø–∞–Ω–∏–∏:
![](https://ucarecdn.com/fb572d46-8a8a-44b8-97d8-c1cf27c48ded/)
driver - –§–ò–û –≤–æ–¥–∏—Ç–µ–ª—è

car - –Ω–æ–º–µ—Ä —Ç—Ä–∞–Ω—Å–ø–æ—Ä—Ç–Ω–æ–≥–æ —Å—Ä–µ–¥—Å—Ç–≤–∞

car_type - —Ç–∏–ø —Ç—Ä–∞–Ω—Å–ø–æ—Ä—Ç–Ω–æ–≥–æ —Å—Ä–µ–¥—Å—Ç–≤–∞

fuel_rate - –ø–æ—Ç—Ä–µ–±–ª–µ–Ω–∏–µ —Ç–æ–ø–ª–∏–≤–∞ –Ω–∞ 100 –∫–º.

 

–ó–∞–¥–∞–Ω–∏–µ:

–æ—Ç—Ñ–∏–ª—å—Ç—Ä—É–π—Ç–µ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º —Ç–∞–∫ —á—Ç–æ–±—ã –≤ –Ω–µ–º –æ—Å—Ç–∞–ª–∏—Å—å –≤–æ–¥–∏—Ç–µ–ª–∏, –∫–æ—Ç–æ—Ä—ã–µ –Ω–µ –±—ã–ª–∏ —É–≤–æ–ª–µ–Ω—ã. –î–ª—è —ç—Ç–æ–≥–æ –≤—ã–ø–æ–ª–Ω–∏—Ç–µ –ø—Ä–æ–≤–µ—Ä–∫—É –Ω–∞ –≤—Ö–æ–∂–¥–µ–Ω–∏–µ —Å–ª–æ–≤–∞ '—É–≤–æ–ª–µ–Ω' –≤ —Å—Ç–æ–ª–±—Ü–µ driver. –î–ª—è –û—Ä–ª–æ–≤–∞ –ë.–ê. —É–±–µ—Ä–∏—Ç–µ –Ω–∞–¥–ø–∏—Å—å '–í–æ–¥–∏—Ç–µ–ª—å'

In [5]:
df_dickt = {'driver': {0: '–ü–µ—Ç—Ä–æ–≤ –ê.–ë', 1: '–°–∫–≤–æ—Ä—Ü–æ–≤ –ú.–í.',
                       2: '–ê–¥—Ä–µ–µ–≤ –ù.–ò.', 3: '–í–æ–¥–∏—Ç–µ–ª—å –û—Ä–ª–æ–≤ –ë.–ê.',
                       4: '–ú–∏—Ö–∞–π–ª–æ–≤ –î.–í. (—É–≤–æ–ª–µ–Ω 01.01.2022)',
                       5: '–¢–æ—Ä–µ—Ç—Ç–æ –ò–≥–æ—Ä—å –°—Ç–µ–ø–∞–Ω–æ–≤–∏—á (—É–≤–æ–ª–µ–Ω –∑–∞ –ø—Ä–µ–≤—ã—à–µ–Ω–∏–µ —Å–∫–æ—Ä–æ—Å—Ç–∏ 01.01.2022)'},
            'car': {0: '–ë432–ê–í', 1: '–ú012–ì–î', 2: '–í122–£–í', 3: '–ê4212–õ–î', 4: '432–Ø–ê–í', 5: '432–ê'},
            'car_type': {0: '–ì—Ä—É–∑–æ–≤–∏–∫', 1: '–õ–µ–≥–∫–æ–≤–∞—è', 2: '–ê–≤—Ç–æ–±—É—Å', 3: '–ê–≤—Ç–æ–∫—Ä–∞–Ω', 4: '?', 5: '?'},
            'fuel_rate': {0: '14.2', 1: '9,8', 2: '19.4', 3: '25,6', 4: '7.8', 5: '5.5'}}

In [6]:
df = pd.DataFrame(df_dickt)
df

,driver,car,car_type,fuel_rate
0,–ü–µ—Ç—Ä–æ–≤ –ê.–ë,–ë432–ê–í,–ì—Ä—É–∑–æ–≤–∏–∫,14.2
1,–°–∫–≤–æ—Ä—Ü–æ–≤ –ú.–í.,–ú012–ì–î,–õ–µ–≥–∫–æ–≤–∞—è,"9,8"
2,–ê–¥—Ä–µ–µ–≤ –ù.–ò.,–í122–£–í,–ê–≤—Ç–æ–±—É—Å,19.4
3,–í–æ–¥–∏—Ç–µ–ª—å –û—Ä–ª–æ–≤ –ë.–ê.,–ê4212–õ–î,–ê–≤—Ç–æ–∫—Ä–∞–Ω,"25,6"
4,–ú–∏—Ö–∞–π–ª–æ–≤ –î.–í. (—É–≤–æ–ª–µ–Ω 01.01.2022),432–Ø–ê–í,?,7.8
5,–¢–æ—Ä–µ—Ç—Ç–æ –ò–≥–æ—Ä—å –°—Ç–µ–ø–∞–Ω–æ–≤–∏—á (—É–≤–æ–ª–µ–Ω –∑–∞ –ø—Ä–µ–≤—ã—à–µ–Ω–∏–µ...,432–ê,?,5.5

In [7]:
#–Ω–∞—á–Ω—É —Å –ø—Ä–æ—Å—Ç–æ–≥–æ, —á—Ç–æ –±—ã –Ω–µ –∑–∞–±—ã—Ç—å —ç—Ç–æ —Å–¥–µ–ª–∞—Ç—å, —É–¥–∞–ª–∏–º "–≤–æ–¥–∏—Ç–µ–ª—å"
df['driver'] = df['driver'].str.replace('–í–æ–¥–∏—Ç–µ–ª—å', '')
df

,driver,car,car_type,fuel_rate
0,–ü–µ—Ç—Ä–æ–≤ –ê.–ë,–ë432–ê–í,–ì—Ä—É–∑–æ–≤–∏–∫,14.2
1,–°–∫–≤–æ—Ä—Ü–æ–≤ –ú.–í.,–ú012–ì–î,–õ–µ–≥–∫–æ–≤–∞—è,"9,8"
2,–ê–¥—Ä–µ–µ–≤ –ù.–ò.,–í122–£–í,–ê–≤—Ç–æ–±—É—Å,19.4
3,–û—Ä–ª–æ–≤ –ë.–ê.,–ê4212–õ–î,–ê–≤—Ç–æ–∫—Ä–∞–Ω,"25,6"
4,–ú–∏—Ö–∞–π–ª–æ–≤ –î.–í. (—É–≤–æ–ª–µ–Ω 01.01.2022),432–Ø–ê–í,?,7.8
5,–¢–æ—Ä–µ—Ç—Ç–æ –ò–≥–æ—Ä—å –°—Ç–µ–ø–∞–Ω–æ–≤–∏—á (—É–≤–æ–ª–µ–Ω –∑–∞ –ø—Ä–µ–≤—ã—à–µ–Ω–∏–µ...,432–ê,?,5.5

In [16]:
#–ø–æ–ª—É—á–∞–µ–º –º–∞—Å–∫—É –¥–ª—è —É–¥–∞–ª–µ–Ω–∏—è —É–≤–æ–ª–µ–Ω–Ω—ã—Ö
df['driver'].str.find('—É–≤–æ–ª–µ–Ω') != -1

0    False
1    False
2    False
3    False
4     True
5     True
Name: driver, dtype: bool

In [17]:
#—Å–æ–∑–¥–∞–µ–º –º–∞—Å–∫—É
mask = df['driver'].str.find('—É–≤–æ–ª–µ–Ω') != -1

In [30]:
#–ü–æ–ª—É—á–∞–µ–º –∏–Ω–¥–µ–∫—Å—ã —É–≤–æ–ª–µ–Ω–Ω—ã—Ö, –∫–æ—Ç–æ—Ä—ã–µ –¥—Ä–æ–ø–Ω–µ–º
df[mask].index.values

array([4, 5], dtype=int64)

In [31]:
#–î—Ä–æ–ø–∞–µ–º –∏–∑ –Ω–∞—à–µ–≥–æ –¥–∞—Ç–∞—Ñ—Ä—ç–π–º–∞, –ø—Ä–µ–¥–≤–∞—Ä–∏—Ç–µ–ª—å–Ω–æ —Å—Ç–∞–≤–ª—é inplace = False, –¥–ª—è —Ç–µ—Å—Ç–æ–≤
df.drop(df[mask].index.values, inplace = False)

          driver      car  car_type fuel_rate
0     –ü–µ—Ç—Ä–æ–≤ –ê.–ë   –ë432–ê–í  –ì—Ä—É–∑–æ–≤–∏–∫      14.2
1  –°–∫–≤–æ—Ä—Ü–æ–≤ –ú.–í.   –ú012–ì–î  –õ–µ–≥–∫–æ–≤–∞—è       9,8
2    –ê–¥—Ä–µ–µ–≤ –ù.–ò.   –í122–£–í   –ê–≤—Ç–æ–±—É—Å      19.4
3     –û—Ä–ª–æ–≤ –ë.–ê.  –ê4212–õ–î  –ê–≤—Ç–æ–∫—Ä–∞–Ω      25,6

In [33]:
#–∑–∞–≤–æ—Ä–∞—á–∏–≤–∞—é –≤—Å–µ –≤ —Ñ—É–Ω–∫—Ü–∏—é
def drop(df):
    df['driver'] = df['driver'].str.replace('–í–æ–¥–∏—Ç–µ–ª—å ', '') #—É–¥–∞–ª—è–µ–º "–≤–æ–¥–∏—Ç–µ–ª—å"
    mask = df['driver'].str.find('—É–≤–æ–ª–µ–Ω') != -1 #—Å–æ–∑–¥–∞–Ω–∏–µ –º–∞—Å–∫–∏
    df.drop(df[mask].index.values, inplace = True) #–î—Ä–æ–ø–∞–µ–º —É–≤–æ–ª–µ–Ω–Ω—ã—Ö
    return df

In [34]:
drop(df)

          driver      car  car_type fuel_rate
0     –ü–µ—Ç—Ä–æ–≤ –ê.–ë   –ë432–ê–í  –ì—Ä—É–∑–æ–≤–∏–∫      14.2
1  –°–∫–≤–æ—Ä—Ü–æ–≤ –ú.–í.   –ú012–ì–î  –õ–µ–≥–∫–æ–≤–∞—è       9,8
2    –ê–¥—Ä–µ–µ–≤ –ù.–ò.   –í122–£–í   –ê–≤—Ç–æ–±—É—Å      19.4
3     –û—Ä–ª–æ–≤ –ë.–ê.  –ê4212–õ–î  –ê–≤—Ç–æ–∫—Ä–∞–Ω      25,6

# –ó–∞–¥–∞—á–∞ 2
–ü—Ä–æ–¥–æ–ª–∂–∞–µ–º —Ä–∞–±–æ—Ç—É —Å –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–æ–º:
![](https://ucarecdn.com/fb572d46-8a8a-44b8-97d8-c1cf27c48ded/)
–í—ã–ø–æ–ª–Ω–∏—Ç–µ –ø—Ä–æ–≤–µ—Ä–∫—É –æ—à–∏–±–æ—á–Ω—ã—Ö –Ω–æ–º–µ—Ä–æ–≤. –ù–æ–º–µ—Ä –¥–æ–ª–∂–µ–Ω —Å–æ—Å—Ç–æ—è—Ç—å –∏–∑ 6 —Å–∏–º–≤–æ–ª–æ–≤, –∞ –ø–µ—Ä–≤—ã–π –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ –±—É–∫–≤–∞. –û—Ç—Å–æ—Ä—Ç–∏—Ä—É–π—Ç–µ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º —Ç–∞–∫ —á—Ç–æ–±—ã –æ—Å—Ç–∞–ª–∏—Å—å –∑–∞–ø–∏—Å–∏ —Å –æ—à–∏–±–æ—á–Ω—ã–º–∏ –Ω–æ–º–µ—Ä–∞–º–∏.

In [35]:
df_dickt = {'driver': {0: '–ü–µ—Ç—Ä–æ–≤ –ê.–ë', 1: '–°–∫–≤–æ—Ä—Ü–æ–≤ –ú.–í.',
                       2: '–ê–¥—Ä–µ–µ–≤ –ù.–ò.', 3: '–í–æ–¥–∏—Ç–µ–ª—å –û—Ä–ª–æ–≤ –ë.–ê.',
                       4: '–ú–∏—Ö–∞–π–ª–æ–≤ –î.–í. (—É–≤–æ–ª–µ–Ω 01.01.2022)',
                       5: '–¢–æ—Ä–µ—Ç—Ç–æ –ò–≥–æ—Ä—å –°—Ç–µ–ø–∞–Ω–æ–≤–∏—á (—É–≤–æ–ª–µ–Ω –∑–∞ –ø—Ä–µ–≤—ã—à–µ–Ω–∏–µ —Å–∫–æ—Ä–æ—Å—Ç–∏ 01.01.2022)'},
            'car': {0: '–ë432–ê–í', 1: '–ú012–ì–î', 2: '–í122–£–í', 3: '–ê4212–õ–î', 4: '432–Ø–ê–í', 5: '432–ê'},
            'car_type': {0: '–ì—Ä—É–∑–æ–≤–∏–∫', 1: '–õ–µ–≥–∫–æ–≤–∞—è', 2: '–ê–≤—Ç–æ–±—É—Å', 3: '–ê–≤—Ç–æ–∫—Ä–∞–Ω', 4: '?', 5: '?'},
            'fuel_rate': {0: '14.2', 1: '9,8', 2: '19.4', 3: '25,6', 4: '7.8', 5: '5.5'}}
df = pd.DataFrame(df_dickt)

In [50]:
#–ø–æ–¥–≥–æ—Ç–∞–≤–ª–∏–≤–∞—é –º–∞—Å–∫—É 
df['car'].str.len() != 6

0    False
1    False
2    False
3     True
4    False
5     True
Name: car, dtype: bool

In [64]:
df['car'].str[0].str.isalpha()

0     True
1     True
2     True
3     True
4    False
5    False
Name: car, dtype: bool

In [67]:
mask = (df['car'].str.len() != 6) | (df['car'].str[0].str.isdigit())

In [68]:
#–ø—Ä–æ–≤–µ—Ä—è—é
df[mask]

                                              driver   car car_type fuel_rate
5  –¢–æ—Ä–µ—Ç—Ç–æ –ò–≥–æ—Ä—å –°—Ç–µ–ø–∞–Ω–æ–≤–∏—á (—É–≤–æ–ª–µ–Ω –∑–∞ –ø—Ä–µ–≤—ã—à–µ–Ω–∏–µ...  432–ê        ?       5.5

In [69]:
#–∑–∞–≤–æ—Ä–∞—á–∏–≤–∞—é –≤—Å–µ –≤ —Ñ—É–Ω–∫—Ü–∏—é
def solution(df):
    mask = (df['car'].str.len() != 6) | (df['car'].str[0].str.isdigit())
    return df[mask]

In [70]:
solution(df)

                                              driver   car car_type fuel_rate
5  –¢–æ—Ä–µ—Ç—Ç–æ –ò–≥–æ—Ä—å –°—Ç–µ–ø–∞–Ω–æ–≤–∏—á (—É–≤–æ–ª–µ–Ω –∑–∞ –ø—Ä–µ–≤—ã—à–µ–Ω–∏–µ...  432–ê        ?       5.5

# –ó–∞–¥–∞—á–∞ 3
–ü—Ä–æ–¥–æ–ª–∂–∞–µ–º —Ä–∞–±–æ—Ç—É —Å –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–æ–º:
![](https://ucarecdn.com/fb572d46-8a8a-44b8-97d8-c1cf27c48ded/)
–í —Å—Ç–æ–ª–±—Ü–µ fuel_rate —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –ø–æ—Ç—Ä–µ–±–ª–µ–Ω–∏–∏ —Ç–æ–ø–ª–∏–≤–∞. –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –ø–æ—Ç—Ä–µ–±–ª–µ–Ω–∏–µ —Ç–æ–ø–ª–∏–≤–∞.

In [71]:
df_dickt = {'driver': {0: '–ü–µ—Ç—Ä–æ–≤ –ê.–ë', 1: '–°–∫–≤–æ—Ä—Ü–æ–≤ –ú.–í.',
                       2: '–ê–¥—Ä–µ–µ–≤ –ù.–ò.', 3: '–í–æ–¥–∏—Ç–µ–ª—å –û—Ä–ª–æ–≤ –ë.–ê.',
                       4: '–ú–∏—Ö–∞–π–ª–æ–≤ –î.–í. (—É–≤–æ–ª–µ–Ω 01.01.2022)',
                       5: '–¢–æ—Ä–µ—Ç—Ç–æ –ò–≥–æ—Ä—å –°—Ç–µ–ø–∞–Ω–æ–≤–∏—á (—É–≤–æ–ª–µ–Ω –∑–∞ –ø—Ä–µ–≤—ã—à–µ–Ω–∏–µ —Å–∫–æ—Ä–æ—Å—Ç–∏ 01.01.2022)'},
            'car': {0: '–ë432–ê–í', 1: '–ú012–ì–î', 2: '–í122–£–í', 3: '–ê4212–õ–î', 4: '432–Ø–ê–í', 5: '432–ê'},
            'car_type': {0: '–ì—Ä—É–∑–æ–≤–∏–∫', 1: '–õ–µ–≥–∫–æ–≤–∞—è', 2: '–ê–≤—Ç–æ–±—É—Å', 3: '–ê–≤—Ç–æ–∫—Ä–∞–Ω', 4: '?', 5: '?'},
            'fuel_rate': {0: '14.2', 1: '9,8', 2: '19.4', 3: '25,6', 4: '7.8', 5: '5.5'}}
df = pd.DataFrame(df_dickt)

In [89]:
#–∏—Å–ø—Ä–∞–≤–ª—è—é –¥–∞–Ω–Ω—ã–µ
df['fuel_rate'] = df['fuel_rate'].str.replace(',', '.')

In [90]:
#–∫–æ–Ω–≤–µ—Ä—Ç–∏—Ä—É—é —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö
df['fuel_rate'] = df['fuel_rate'].astype('float')

In [93]:
#–≤—ã—á–∏—Å–ª—è—é —Å—Ä–µ–¥–Ω–µ–µ
df['fuel_rate'].mean()

13.716666666666667

In [ ]:
#–ó–∞–≤–æ—Ä–∞—á–∏–≤–∞—é –≤—Å–µ –≤ —Ñ—É–Ω–∫—Ü–∏—é
def solution(df):
    df['fuel_rate'] = df['fuel_rate'].str.replace(',', '.')
    df['fuel_rate'] = df['fuel_rate'].astype('float')
    return df['fuel_rate'].mean()

# –ó–∞–¥–∞—á–∞ 4
–ü—Ä–æ–¥–æ–ª–∂–∞–µ–º —Ä–∞–±–æ—Ç—É —Å –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–æ–º:
![](https://ucarecdn.com/fb572d46-8a8a-44b8-97d8-c1cf27c48ded/)
–ù–∞–π–¥–∏—Ç–µ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –ø–æ—Ç—Ä–µ–±–ª–µ–Ω–∏–µ —Ç–æ–ø–ª–∏–≤–∞ —Å—Ä–µ–¥–∏ –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–π —Å –Ω–æ–º–µ—Ä–∞–º–∏, –∫–æ—Ç–æ—Ä—ã–µ –∑–∞–∫–∞–Ω—á–∏–≤–∞—é—Ç—Å—è –Ω–∞ –±—É–∫–≤—É –í

In [133]:
df_dickt = {'driver': {0: '–ü–µ—Ç—Ä–æ–≤ –ê.–ë', 1: '–°–∫–≤–æ—Ä—Ü–æ–≤ –ú.–í.',
                       2: '–ê–¥—Ä–µ–µ–≤ –ù.–ò.', 3: '–í–æ–¥–∏—Ç–µ–ª—å –û—Ä–ª–æ–≤ –ë.–ê.',
                       4: '–ú–∏—Ö–∞–π–ª–æ–≤ –î.–í. (—É–≤–æ–ª–µ–Ω 01.01.2022)',
                       5: '–¢–æ—Ä–µ—Ç—Ç–æ –ò–≥–æ—Ä—å –°—Ç–µ–ø–∞–Ω–æ–≤–∏—á (—É–≤–æ–ª–µ–Ω –∑–∞ –ø—Ä–µ–≤—ã—à–µ–Ω–∏–µ —Å–∫–æ—Ä–æ—Å—Ç–∏ 01.01.2022)'},
            'car': {0: '–ë432–ê–í', 1: '–ú012–ì–î', 2: '–í122–£–í', 3: '–ê4212–õ–î', 4: '432–Ø–ê–í', 5: '432–ê'},
            'car_type': {0: '–ì—Ä—É–∑–æ–≤–∏–∫', 1: '–õ–µ–≥–∫–æ–≤–∞—è', 2: '–ê–≤—Ç–æ–±—É—Å', 3: '–ê–≤—Ç–æ–∫—Ä–∞–Ω', 4: '?', 5: '?'},
            'fuel_rate': {0: '14.2', 1: '9,8', 2: '19.4', 3: '25,6', 4: '7.8', 5: '5.5'}}
df = pd.DataFrame(df_dickt)

In [114]:
#–∏—Å–ø—Ä–∞–≤–ª—è—é –¥–∞–Ω–Ω—ã–µ
df['fuel_rate'] = df['fuel_rate'].str.replace(',', '.')

In [115]:
#–∫–æ–Ω–≤–µ—Ä—Ç–∏—Ä—É—é —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö
df['fuel_rate'] = df['fuel_rate'].astype('float')

In [116]:
#–ø–æ–¥–≥–æ—Ç–∞–≤–ª–∏–≤–∞—é —É—Å–ª–æ–≤–∏–µ –¥–ª—è –º–∞—Å–∫–∏ –¥–ª—è –∞–≤—Ç–æ —Å –Ω–æ–º–µ—Ä–∞–º–∏, –∑–∞–∫–∞–Ω—á–∏–≤–∞—é—â–∏–º—Å—è –Ω–∞ "–í"
df['car'].str[-1] == '–í'

0     True
1    False
2     True
3    False
4     True
5    False
Name: car, dtype: bool

In [117]:
#—Å–æ–∑–¥–∞—é –º–∞—Å–∫—É
mask = df['car'].str[-1] == '–í'

In [118]:
#–ø–æ–ª—É—á–∞—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é
df['fuel_rate'][df['car'].str[-1] == '–í'].max()

19.4

In [119]:
#–∑–∞–≤–æ—Ä–∞—á–∏–≤–∞—é –≤—Å–µ –≤ —Ñ—É–Ω–∫—Ü–∏—é
def solution(df):
    df['fuel_rate'] = df['fuel_rate'].str.replace(',', '.')
    df['fuel_rate'] = df['fuel_rate'].astype('float')
    mask = df['car'].str[-1] == '–í'
    return df['fuel_rate'][mask].max()

In [122]:
solution(df)

19.4

–ù–∞ –ø–ª–∞—Ç—Ñ–æ—Ä–º–µ –ø–æ–ª—É—á–∞–µ–º –æ—Ç–≤–µ—Ç:

- –û—Ç–≤–µ—Ç –Ω–µ —Å–æ–≤–ø–∞–¥–∞–µ—Ç. –£ –≤–∞—Å: 14.2, –∞ –¥–æ–ª–∂–µ–Ω: 19.4

–ò –≤–æ—Ç —Å–µ–π—á–∞—Å —Ç–æ —è –ø–æ–Ω—è–ª, —á—Ç–æ —É –Ω–∞—Å –≤ –Ω–æ–º–µ—Ä–µ –∞–Ω–≥–ª–∏–π—Å–∫–∞—è B

- –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –∞–≤—Ç–æ—Ä–∞ –∫—É—Ä—Å–∞:
    
–æ–ø–µ—Ä–∞—Ç–æ—Ä, –∫–æ–≥–¥–∞ –≤–Ω–æ—Å–∏–ª –¥–∞–Ω–Ω—ã–µ –≤ —Å–∏—Å—Ç–µ–º—É, –Ω–µ –æ–±—Ä–∞—Ç–∏–ª –≤–Ω–∏–º–∞–Ω–∏–µ, —á—Ç–æ —Ä–∞—Å–∫–ª–∞–¥–∫–∞ –ø–æ–º–µ–Ω—è–ª–∞—Å—å –∏ –≤–Ω–µ—Å —Ç–∞–∫–∏–µ –¥–∞–Ω–Ω—ã–µ) –ö—Å—Ç–∞—Ç–∏, —Å–∏—Å—Ç–µ–º–∞ –±—ã–ª–∞ —Å–æ–≤—Å–µ–º –Ω–µ –ø—Ä–æ—Ç–∏–≤ (—Ç–∞–∫–æ–µ –±—ã–≤–∞–µ—Ç). –¢—É—Ç –¥–ª—è —Ä–µ—à–µ–Ω–∏—è –ø–æ—Ç—Ä–µ–±—É–µ—Ç—Å—è –Ω–µ —Ç–æ–ª—å–∫–æ —Ç–µ—Ö–Ω–∏–∫–∞, –Ω–æ –∏ –≤–Ω–∏–º–∞—Ç–µ–ª—å–Ω–æ—Å—Ç—å üòé 

–¢–µ–±–µ –º–æ–≥—É—Ç –ø–æ—Å—Ç–∞–≤–∏—Ç—å –∑–∞–¥–∞—á—É, –Ω–æ —Ç–æ—Ç –∫—Ç–æ –µ–µ —Å—Ç–∞–≤–∏—Ç, –º–æ–∂–µ—Ç –Ω–µ –¥–æ –∫–æ–Ω—Ü–∞ –ø–æ–Ω–∏–º–∞—Ç—å –≤—Å–µ—Ö –æ—Å–æ–±–µ–Ω–Ω–æ—Å—Ç–µ–π –Ω–∞–±–æ—Ä–∞ –¥–∞–Ω–Ω—ã—Ö. –ò–ª–∏ —Ç–µ–±–µ –ø—Ä–æ—Å—Ç–æ –∑–∞–±—ã–ª–∏ —Å–∫–∞–∑–∞—Ç—å –æ –Ω–µ–∫–æ—Ç–æ—Ä—ã—Ö –æ—Å–æ–±–µ–Ω–Ω–æ—Å—Ç—è—Ö. –ú–æ–∂–µ—Ç –±—ã—Ç—å –∏ —Ç–∞–∫, —á—Ç–æ —Ç–µ–±–µ –≤–æ–æ–±—â–µ –Ω–∏—á–µ–≥–æ –Ω–µ —Å–∫–∞–∂—É—Ç, –∞ –Ω–∞ —Ç–µ–±—è –ª—è–∂–µ—Ç –≤—Å—è —Ä–∞–±–æ—Ç–∞. –¢–≤–æ—è —Ü–µ–Ω–Ω–æ—Å—Ç—å –±—É–¥–µ—Ç –æ—á–µ–Ω—å –≤—ã—Å–æ–∫–∞, –µ—Å–ª–∏ —Ç—ã –Ω–∞—É—á–∏—à—å—Å—è –ø–æ–¥–º–µ—á–∞—Ç—å —Ç–∞–∫–∏–µ –æ—Å–æ–±–µ–Ω–Ω–æ—Å—Ç–∏. –Ø —Å—Ç–∞—Ä–∞—é—Å—å –º–µ—Å—Ç–∞–º–∏ –¥–æ–±–∞–≤–ª—è—Ç—å –≤ –∑–∞–¥–∞—á–∏ –Ω–µ–º–Ω–æ–≥–æ —Ç–∞–∫–∏—Ö —Å—Ü–µ–Ω–∞—Ä–∏–µ–≤ —á—Ç–æ–±—ã –ø—Ä–æ–∫–∞—á–∏–≤–∞—Ç—å –Ω–µ —Ç–æ–ª—å–∫–æ —Ç–≤–æ—é —Ç–µ—Ö–Ω–∏–∫—É –ø–∞–Ω–¥–∞—Å–∞, –Ω–æ –∏ –∫—É–ª—å—Ç—É—Ä—É —Ä–∞–±–æ—Ç—ã —Å –¥–∞–Ω–Ω—ã–º–∏

In [134]:
#–ø–µ—Ä–µ–ø–∏—Å—ã–≤–∞—é —É—Å–ª–æ–≤–∏–µ
def solution(df):
    df['fuel_rate'] = df['fuel_rate'].str.replace(',', '.')
    df['fuel_rate'] = df['fuel_rate'].astype('float')
    mask = df['car'].str[-1] == '–í'
    return df['fuel_rate'][mask].max()

In [135]:
solution(df)

19.4

# –ó–∞–¥–∞—á–∞ 5
–ü—Ä–æ–¥–æ–ª–∂–∞–µ–º —Ä–∞–±–æ—Ç—É —Å –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–æ–º:
![](https://ucarecdn.com/fb572d46-8a8a-44b8-97d8-c1cf27c48ded/)
–ü—Ä–µ–æ–±—Ä–∞–∑—É–π—Ç–µ —Å—Ç—Ä–æ–∫–æ–≤—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Å—Ç–æ–ª–±—Ü–µ car_type —Å–ª–µ–¥—É—é—â–∏–º –æ–±—Ä–∞–∑–æ–º: –ø–µ—Ä–≤—ã–π —Å–∏–º–≤–æ–ª –¥–æ–ª–∂–µ–Ω –±—ã—Ç—å –≤ –Ω–∏–∂–Ω–µ–º —Ä–µ–≥–∏—Å—Ç—Ä–µ, –∞ –≤—Å–µ –æ—Å—Ç–∞–ª—å–Ω—ã–µ –≤ –≤–µ—Ä—Ö–Ω–µ–º:
![](https://ucarecdn.com/6018e903-437b-4b0f-8e23-cb3952f2ae93/)

In [144]:
df_dickt = {'driver': {0: '–ü–µ—Ç—Ä–æ–≤ –ê.–ë', 1: '–°–∫–≤–æ—Ä—Ü–æ–≤ –ú.–í.',
                       2: '–ê–¥—Ä–µ–µ–≤ –ù.–ò.', 3: '–í–æ–¥–∏—Ç–µ–ª—å –û—Ä–ª–æ–≤ –ë.–ê.',
                       4: '–ú–∏—Ö–∞–π–ª–æ–≤ –î.–í. (—É–≤–æ–ª–µ–Ω 01.01.2022)',
                       5: '–¢–æ—Ä–µ—Ç—Ç–æ –ò–≥–æ—Ä—å –°—Ç–µ–ø–∞–Ω–æ–≤–∏—á (—É–≤–æ–ª–µ–Ω –∑–∞ –ø—Ä–µ–≤—ã—à–µ–Ω–∏–µ —Å–∫–æ—Ä–æ—Å—Ç–∏ 01.01.2022)'},
            'car': {0: '–ë432–ê–í', 1: '–ú012–ì–î', 2: '–í122–£–í', 3: '–ê4212–õ–î', 4: '432–Ø–ê–í', 5: '432–ê'},
            'car_type': {0: '–ì—Ä—É–∑–æ–≤–∏–∫', 1: '–õ–µ–≥–∫–æ–≤–∞—è', 2: '–ê–≤—Ç–æ–±—É—Å', 3: '–ê–≤—Ç–æ–∫—Ä–∞–Ω', 4: '?', 5: '?'},
            'fuel_rate': {0: '14.2', 1: '9,8', 2: '19.4', 3: '25,6', 4: '7.8', 5: '5.5'}}
df = pd.DataFrame(df_dickt)

In [147]:
#–º–µ–Ω—è–µ–º –ø–µ—Ä–≤—ã–π —Å–∏–º–≤–æ–ª –Ω–∞ –Ω–∏–∂–Ω–∏–π —Ä–µ–≥–∏—Å—Ç—Ä –æ—Å—Ç–∞–≤—à–∏–µ—Å—è –Ω–∞ –≤–µ—Ä—Ö–Ω–∏–π –∏ –ø–µ—Ä–µ–ø–∏—Å—ã–≤–∞–µ–º –∑–Ω–∞—á–µ–Ω–∏—è
#–ò—Å–ø–æ–ª—å–∑—É–µ–º –∫–æ–Ω–∫–∞—Ç–µ–Ω–∞—Ü–∏—é —Å—Ç—Ä–æ–∫
df['car_type'] = df['car_type'].str[0].str.lower() + df['car_type'].str[1:].str.upper()

In [148]:
#–ø—Ä–æ–≤–µ—Ä—è–µ–º
df['car_type']

0    –≥–†–£–ó–û–í–ò–ö
1    –ª–ï–ì–ö–û–í–ê–Ø
2     –∞–í–¢–û–ë–£–°
3    –∞–í–¢–û–ö–†–ê–ù
4           ?
5           ?
Name: car_type, dtype: object

In [149]:
#–ö–ª–∞–¥–µ–º –≤—Å–µ –≤ —Ñ—É–Ω–∫—Ü–∏—é
def solution(df):
    df['car_type'] = df['car_type'].str[0].str.lower() + df['car_type'].str[1:].str.upper()
    return df

In [150]:
solution(df)

,driver,car,car_type,fuel_rate
0,–ü–µ—Ç—Ä–æ–≤ –ê.–ë,–ë432–ê–í,–≥–†–£–ó–û–í–ò–ö,14.2
1,–°–∫–≤–æ—Ä—Ü–æ–≤ –ú.–í.,–ú012–ì–î,–ª–ï–ì–ö–û–í–ê–Ø,"9,8"
2,–ê–¥—Ä–µ–µ–≤ –ù.–ò.,–í122–£–í,–∞–í–¢–û–ë–£–°,19.4
3,–í–æ–¥–∏—Ç–µ–ª—å –û—Ä–ª–æ–≤ –ë.–ê.,–ê4212–õ–î,–∞–í–¢–û–ö–†–ê–ù,"25,6"
4,–ú–∏—Ö–∞–π–ª–æ–≤ –î.–í. (—É–≤–æ–ª–µ–Ω 01.01.2022),432–Ø–ê–í,?,7.8
5,–¢–æ—Ä–µ—Ç—Ç–æ –ò–≥–æ—Ä—å –°—Ç–µ–ø–∞–Ω–æ–≤–∏—á (—É–≤–æ–ª–µ–Ω –∑–∞ –ø—Ä–µ–≤—ã—à–µ–Ω–∏–µ...,432–ê,?,5.5

–ú–µ—Ç–æ–¥ swapcase() - –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç –∫–æ–ø–∏—é —Å—Ç—Ä–æ–∫–∏, –≤ –∫–æ—Ç–æ—Ä–æ–π –≤—Å–µ —Å–∏–º–≤–æ–ª—ã, –æ—Å–Ω–æ–≤–∞–Ω–Ω—ã–µ –Ω–∞ —Ä–µ–≥–∏—Å—Ç—Ä–µ, –ø–æ–º–µ–Ω—è–ª–∏—Å—å –º–µ—Å—Ç–∞–º–∏.

In [151]:
#–†–µ—à–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã–º –º–µ—Ç–æ–¥–æ–º
def solution(df):
    df.car_type = df.car_type.str.swapcase()
    return df

In [152]:
solution(df)

,driver,car,car_type,fuel_rate
0,–ü–µ—Ç—Ä–æ–≤ –ê.–ë,–ë432–ê–í,–ì—Ä—É–∑–æ–≤–∏–∫,14.2
1,–°–∫–≤–æ—Ä—Ü–æ–≤ –ú.–í.,–ú012–ì–î,–õ–µ–≥–∫–æ–≤–∞—è,"9,8"
2,–ê–¥—Ä–µ–µ–≤ –ù.–ò.,–í122–£–í,–ê–≤—Ç–æ–±—É—Å,19.4
3,–í–æ–¥–∏—Ç–µ–ª—å –û—Ä–ª–æ–≤ –ë.–ê.,–ê4212–õ–î,–ê–≤—Ç–æ–∫—Ä–∞–Ω,"25,6"
4,–ú–∏—Ö–∞–π–ª–æ–≤ –î.–í. (—É–≤–æ–ª–µ–Ω 01.01.2022),432–Ø–ê–í,?,7.8
5,–¢–æ—Ä–µ—Ç—Ç–æ –ò–≥–æ—Ä—å –°—Ç–µ–ø–∞–Ω–æ–≤–∏—á (—É–≤–æ–ª–µ–Ω –∑–∞ –ø—Ä–µ–≤—ã—à–µ–Ω–∏–µ...,432–ê,?,5.5

–ï—Å–ª–∏ —á–µ—Å—Ç–Ω–æ —è –¥–∞–∂–µ —Ö—Ä–µ–Ω –∑–Ω–∞–µ—Ç –∫–æ–≥–¥–∞, –ø–æ–º–∏–º–æ —ç—Ç–æ–π –∑–∞–¥–∞—á–∏ –¥–∞–Ω–Ω—ã–π –º–µ—Ç–æ–¥–æ–º –º–æ–∂–µ—Ç –ø—Ä–∏–≥–æ–¥–∏—Ç—å—Å—è

# –ó–∞–¥–∞—á–∞ 6
–ü—Ä–æ–¥–æ–ª–∂–∞–µ–º —Ä–∞–±–æ—Ç—É —Å –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–æ–º:
![](https://ucarecdn.com/fb572d46-8a8a-44b8-97d8-c1cf27c48ded/)
–ï—Å–ª–∏ –Ω–æ–º–µ—Ä —Ç—Ä–∞–Ω—Å–ø–æ—Ä—Ç–Ω–æ–≥–æ —Å—Ä–µ–¥—Å—Ç–≤–∞ –Ω–∞—á–∏–Ω–∞–µ—Ç—Å—è —Å –±—É–∫–≤—ã –í, —Ç–æ –∑–∞–º–µ–Ω–∏—Ç–µ —ç—Ç—É –±—É–∫–≤—É –Ω–∞ –ë

In [195]:
df_dickt = {'driver': {0: '–ü–µ—Ç—Ä–æ–≤ –ê.–ë', 1: '–°–∫–≤–æ—Ä—Ü–æ–≤ –ú.–í.',
                       2: '–ê–¥—Ä–µ–µ–≤ –ù.–ò.', 3: '–í–æ–¥–∏—Ç–µ–ª—å –û—Ä–ª–æ–≤ –ë.–ê.',
                       4: '–ú–∏—Ö–∞–π–ª–æ–≤ –î.–í. (—É–≤–æ–ª–µ–Ω 01.01.2022)',
                       5: '–¢–æ—Ä–µ—Ç—Ç–æ –ò–≥–æ—Ä—å –°—Ç–µ–ø–∞–Ω–æ–≤–∏—á (—É–≤–æ–ª–µ–Ω –∑–∞ –ø—Ä–µ–≤—ã—à–µ–Ω–∏–µ —Å–∫–æ—Ä–æ—Å—Ç–∏ 01.01.2022)'},
            'car': {0: '–ë432–ê–í', 1: '–ú012–ì–î', 2: '–í122–£–í', 3: '–ê4212–õ–î', 4: '432–Ø–ê–í', 5: '432–ê'},
            'car_type': {0: '–ì—Ä—É–∑–æ–≤–∏–∫', 1: '–õ–µ–≥–∫–æ–≤–∞—è', 2: '–ê–≤—Ç–æ–±—É—Å', 3: '–ê–≤—Ç–æ–∫—Ä–∞–Ω', 4: '?', 5: '?'},
            'fuel_rate': {0: '14.2', 1: '9,8', 2: '19.4', 3: '25,6', 4: '7.8', 5: '5.5'}}
df = pd.DataFrame(df_dickt)

In [192]:
#–ê–Ω–∞–ª–æ–≥–∏—á–Ω–æ, –∫–æ–Ω–∫–∞—Ç–µ–Ω—Ü–∏–µ–π –ø–µ—Ä–µ—Å–æ–±–∏—Ä–∞—é –Ω–æ–º–µ—Ä
df['car'] = df['car'].str[0].str.replace('–í','–ë') + df['car'].str[1:]

In [193]:
df

,driver,car,car_type,fuel_rate
0,–ü–µ—Ç—Ä–æ–≤ –ê.–ë,–ë432–ê–í,–ì—Ä—É–∑–æ–≤–∏–∫,14.2
1,–°–∫–≤–æ—Ä—Ü–æ–≤ –ú.–í.,–ú012–ì–î,–õ–µ–≥–∫–æ–≤–∞—è,"9,8"
2,–ê–¥—Ä–µ–µ–≤ –ù.–ò.,–ë122–£–í,–ê–≤—Ç–æ–±—É—Å,19.4
3,–í–æ–¥–∏—Ç–µ–ª—å –û—Ä–ª–æ–≤ –ë.–ê.,–ê4212–õ–î,–ê–≤—Ç–æ–∫—Ä–∞–Ω,"25,6"
4,–ú–∏—Ö–∞–π–ª–æ–≤ –î.–í. (—É–≤–æ–ª–µ–Ω 01.01.2022),432–Ø–ê–í,?,7.8
5,–¢–æ—Ä–µ—Ç—Ç–æ –ò–≥–æ—Ä—å –°—Ç–µ–ø–∞–Ω–æ–≤–∏—á (—É–≤–æ–ª–µ–Ω –∑–∞ –ø—Ä–µ–≤—ã—à–µ–Ω–∏–µ...,432–ê,?,5.5

In [194]:
#–ó–∞–≤–æ—Ä–∞—á–∏—é –≤ —Ñ—É–Ω–∫—Ü–∏—é
def solution(df):
    df['car'] = df['car'].str[0].str.replace('–í','–ë') + df['car'].str[1:]
    return df

In [197]:
#–ü—Ä–æ–≤–µ—Ä—è–µ–º
solution(df)

,driver,car,car_type,fuel_rate
0,–ü–µ—Ç—Ä–æ–≤ –ê.–ë,–ë432–ê–í,–ì—Ä—É–∑–æ–≤–∏–∫,14.2
1,–°–∫–≤–æ—Ä—Ü–æ–≤ –ú.–í.,–ú012–ì–î,–õ–µ–≥–∫–æ–≤–∞—è,"9,8"
2,–ê–¥—Ä–µ–µ–≤ –ù.–ò.,–ë122–£–í,–ê–≤—Ç–æ–±—É—Å,19.4
3,–í–æ–¥–∏—Ç–µ–ª—å –û—Ä–ª–æ–≤ –ë.–ê.,–ê4212–õ–î,–ê–≤—Ç–æ–∫—Ä–∞–Ω,"25,6"
4,–ú–∏—Ö–∞–π–ª–æ–≤ –î.–í. (—É–≤–æ–ª–µ–Ω 01.01.2022),432–Ø–ê–í,?,7.8
5,–¢–æ—Ä–µ—Ç—Ç–æ –ò–≥–æ—Ä—å –°—Ç–µ–ø–∞–Ω–æ–≤–∏—á (—É–≤–æ–ª–µ–Ω –∑–∞ –ø—Ä–µ–≤—ã—à–µ–Ω–∏–µ...,432–ê,?,5.5

In [198]:
#–†–µ—à–µ–Ω–∏—è –∫–æ–ª–ª–µ–≥ —Å –∫—É—Ä—Å–∞, –ø–æ–∫–∞–∑–∞–≤—à–∏–µ—Å—è –Ω–∞–∏–±–æ–ª–µ–µ –ª—É—á—à–∏–º–∏

In [199]:
def solution(df):
    df['car'] = df.car.str.replace('^–í', '–ë', regex=True)
    return df