In [1]:
import numpy as np
import pandas as pd

# chunksize

Загрузим и разобьем данный датафрэйм на фрагменты. Чтобы поочереди с ними работать.
Такой подход очень эффективен если у нас огромные датафрэймы.

В этом нам поможет параметр chunksize

In [43]:
reader = pd.read_csv('Z:\\Programming\\DataSciense\\Stepik_Pandas_Numpy\\Step.4.4_Задача2.csv', 
                 sep = ';', chunksize=2 )
reader

Мы получили "умный" объект, который вытащил 2 строки из датафрэйма. 

Теперь нам надо его попросить показать их.

Осуществим это с помощью цикла.

In [23]:
for df in reader:
    print(df)
    input('---')

                   job        company          ssn  \
0      Records manager  Duncan-Garcia  241-62-8803
1  Mental health nurse       Rose-Lee  899-12-4937

                                  residence  \
0  309 Danielle Cliffs\nNorth Amy, NC 69960
1          Unit 5929 Box 0845\nDPO AE 45149

                                 current_location blood_group  \
0  (Decimal('-79.694044'), Decimal('145.837904'))         AB+
1  (Decimal('16.6696785'), Decimal('-38.243842'))          A-

                                             website     username  \
0  ['http://www.lara-atkins.info/', 'https://vela...  lambertemma
1  ['http://jackson-sanchez.net/', 'https://www.g...        greid

           name sex                                    address  \
0    Stacy Reed   F  9881 Brown Mission\nWest Marcus, CO 88576
1  Carol Farley   F                   USNS Burke\nFPO AE 09663

                      mail   birthdate
0         vsmith@yahoo.com  1980-01-04
1  graceholloway@yahoo.com  1918-07-08
---1
                              job         company          ssn  \
2  Furniture conservator/restorer  Potts and Sons  261-41-9484
3                Ambulance person      Rivera Inc  201-43-6181

                                           residence  \
2  130 Vargas Trail Apt. 244\nNorth Rebecca, WV 1...
3             7173 Adrian Shoal\nWest Paul, NJ 24509

                                 current_location blood_group  \
2  (Decimal('-27.9623815'), Decimal('75.091620'))          B-
3   (Decimal('20.706462'), Decimal('-99.445622'))          B-

                                             website      username  \
2  ['https://www.mclaughlin.com/', 'http://www.gi...  scottmercado
3  ['https://smith.net/', 'https://garcia-nichols...     kristin75

               name sex                                            address  \
2  Russell Whitaker   M         9023 Julie Highway\nJonathanfurt, NE 70139
3    Maureen Powers   F  9431 Cunningham Divide Suite 663\nKnightcheste...

                mail   birthdate
2    ghart@gmail.com  1946-09-11
3  stacy77@yahoo.com  1960-07-01
---1
                          job          company          ssn  \
4  Contracting civil engineer   Hatfield Group  878-83-6667
5                Estate agent  Harrison-Larsen  780-62-6737

                                           residence  \
4  558 Andrea Prairie Apt. 869\nGeraldside, TX 73555
5                          USS Walters\nFPO AA 57066

                                 current_location blood_group  \
4   (Decimal('-5.886452'), Decimal('105.424264'))          O+
5  (Decimal('-16.818435'), Decimal('-24.144586'))          B-

                           website       username             name sex  \
4  ['https://curry-mitchell.com/']        lhansen  Edward Mcdonald   M
5       ['http://www.brooks.com/']  huertaanthony  Randall Baldwin   M

                                             address  \
4  58853 Jennifer Brooks Suite 754\nMichaelfort, ...
5           320 Cynthia Light\nPort Alyssa, NC 58746

                        mail   birthdate
4           emoore@yahoo.com  1940-10-02
5  thompsonphillip@yahoo.com  1986-12-13
---2
                                   job      company          ssn  \
6  Social research officer, government  Mills-Smith  273-12-9262
7           Psychologist, occupational   Welch-Ward  051-51-3449

                                   residence  \
6  4686 Whitney Cove\nEast Johnton, MI 29720
7    6444 Herrera Mills\nTonyabury, UT 75601

                                   current_location blood_group  \
6     (Decimal('-86.601344'), Decimal('34.919924'))         AB+
7  (Decimal('-68.5063845'), Decimal('-172.417969'))          A+

                                             website   username  \
6  ['http://day-sandoval.biz/', 'http://gomez-roc...       ecox
7                              ['http://dixon.com/']  cmartinez

               name sex                                            address  \
6  Christine Brooks   F  709 Hall Circle Suite 075\nWest Krystal, MN 26789
7    Micheal Parker   M  03834 Crystal Land Suite 820\nNew Michelleberg...

                     mail   birthdate
6  kimrosario@hotmail.com  2016-04-21
7    nrichard@hotmail.com  1946-12-05
---3
                           job       company          ssn  \
8  Careers information officer   Lopez-Walsh  438-82-5734
9                Administrator  Grant-Santos  532-83-7870

                                   residence  \
8   11945 Kevin Summit\nWarrenfurt, MN 38811
9  814 Anna Mountains\nPort Tyrone, MS 08953

                                  current_location blood_group  \
8  (Decimal('17.0921015'), Decimal('-151.157305'))          A+
9     (Decimal('65.854303'), Decimal('92.687064'))          B+

                                             website      username  \
8  ['https://mitchell.com/', 'http://frederick-wh...      markhall
9  ['http://www.richardson-rodriguez.org/', 'http...  floresdenise

           name sex                                           address  \
8  Nicole Kelly   F                  Unit 3115 Box 0267\nDPO AA 05952
9  Mike Johnson   M  660 Daniel Springs Apt. 789\nHansonton, PA 38505

                         mail   birthdate
8  edwardswilliam@hotmail.com  1978-06-06
9     millerwilliam@gmail.com  1910-11-08

KeyboardInterrupt: Interrupted by user

Такой reader не хранит в себе все. Он хранит ссылку на файл и он понимает, где он сейчас находится.

Цикл for на следующей итерации запрашивает значения и выводит.

Теперь давайте на практике перебирать значения.

In [54]:
data = [['Girev', 'Andrey', 'ВИП', 2815, 29, 58, 6358, 'Moscow', 'Xiaomi'],
       ['Bykin', 'Stas', 'Все за 300', 3634, 37, 78, 602, 'Kazan',
        'Samsung'],
       ['Ivanov', 'Alex', 'Всё за 800', 410, 47, 81, 3582, 'Moscow',
        'Huawei'],
       ['Andreev', 'Sergey', 'Всё за 500', 1981, 75, 98, 5442, 'Kazan',
        'Apple'],
       ['Girev', 'Stas', 'Всё за 800', 4969, 43, 61, 8510, 'Moscow',
        'Samsung'],
       ['Bykin', 'Andrey', 'Всё за 500', 4308, 49, 39, 2525, 'Moscow',
        'Xiaomi'],
       ['Kozlov', 'Igor', 'Всё за 800', 300, 60, 31, 8543, 'Yakutsk',
        'Samsung'],
       ['Girev', 'Alex', 'Промо', 4199, 47, 90, 3925, 'Kazan', 'Apple'],
       ['Petrov', 'Nikolay', 'ВИП', 4810, 72, 88, 7188, 'Moscow',
        'Apple'],
       ['Andreev', 'Sergey', 'Всё за 800', 4118, 52, 53, 419, 'Yakutsk',
        'Apple'],
       ['Smolov', 'Stas', 'Промо', 1991, 28, 67, 5016, 'Kazan', 'Xiaomi'],
       ['Girev', 'Igor', 'Корпоративный', 1430, 69, 19, 9520, 'Yakutsk',
        'Samsung'],
       ['Kozlov', 'Andrey', 'Корпоративный', 113, 71, 82, 2785, 'Kazan',
        'Apple'],
       ['Ivanov', 'Sergey', 'Промо', 3394, 39, 12, 2718, 'Yakutsk',
        'Xiaomi'],
       ['Smolov', 'Sergey', 'Всё за 250 (архив)', 3493, 32, 6, 8959,
        'Yakutsk', 'Huawei'],
       ['Kozlov', 'Stas', 'Всё за 800', 4565, 59, 82, 3168, 'Moscow',
        'Apple'],
       ['Vlasov', 'Andrey', 'Всё за 800', 3192, 29, 74, 2852, 'Yakutsk',
        'Xiaomi'],
       ['Smolov', 'Alex', 'Корпоративный', 3764, 71, 22, 2768, 'Moscow',
        'Huawei'],
       ['Vlasov', 'Sergey', 'Всё за 800', 3816, 28, 35, 5734,
        'Vladivostok', 'Apple'],
       ['Bykin', 'Alex', 'Промо', 817, 65, 34, 2131, 'Vladivostok',
        'Samsung'],
       ['Andreev', 'Nikolay', 'Всё за 500', 385, 49, 62, 1815, 'Kazan',
        'Xiaomi'],
       ['Bykin', 'Igor', 'Всё за 500', 2642, 38, 11, 3787, 'Moscow',
        'Xiaomi'],
       ['Girev', 'Sergey', 'Все за 300', 4230, 62, 68, 5512,
        'Vladivostok', 'Samsung'],
       ['Bykin', 'Sergey', 'Всё за 800', 4100, 48, 39, 227, 'Moscow',
        'Xiaomi'],
       ['Girev', 'Stas', 'Все за 300', 3371, 53, 24, 7946, 'Kazan',
        'Apple'],
       ['Smolov', 'Sergey', 'Корпоративный', 3577, 70, 71, 8847,
        'Yakutsk', 'Huawei'],
       ['Mezov', 'Nikolay', 'Всё за 250 (архив)', 2742, 28, 19, 7115,
        'Yakutsk', 'Huawei'],
       ['Smolov', 'Stas', 'Всё за 500', 2644, 41, 33, 8341, 'Moscow',
        'Xiaomi'],
       ['Vlasov', 'Andrey', 'Всё за 500', 4725, 26, 93, 9441,
        'Vladivostok', 'Xiaomi'],
       ['Ivanov', 'Nikolay', 'Всё за 500', 2785, 41, 5, 2901, 'Moscow',
        'Samsung']]

df = pd.DataFrame(data, columns = ['surname', 'name', 'tarif', 'balance', 'age', 'sms', 
                                   'voice', 'city', 'phone'])

In [58]:
df.to_csv('Z:\\Programming\\DataSciense\\Stepik_Pandas_Numpy\\Step.4.3_df.csv')

In [80]:
df2 = pd.read_csv('Z:\\Programming\\DataSciense\\Stepik_Pandas_Numpy\\Step.4.3_df.csv', chunksize=3)

In [81]:
totals = pd.Series([])

C:\Users\user\AppData\Local\Temp\ipykernel_3696\203521726.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  totals = pd.Series([])

In [84]:
for df in df2:
    print(df)
    print('----')
    print(df['name'].value_counts())
    print('----')
    print(totals)
    totals = totals.add(df['name'].value_counts(), fill_value=0)
    print('----')
    print(totals)                    
    input()

   Unnamed: 0  surname    name       tarif  balance  age  sms  voice    city  \
3           3  Andreev  Sergey  Всё за 500     1981   75   98   5442   Kazan
4           4    Girev    Stas  Всё за 800     4969   43   61   8510  Moscow
5           5    Bykin  Andrey  Всё за 500     4308   49   39   2525  Moscow

     phone
3    Apple
4  Samsung
5   Xiaomi
----
Sergey    1
Stas      1
Andrey    1
Name: name, dtype: int64
----
Series([], dtype: float64)
----
Sergey    1.0
Stas      1.0
Andrey    1.0
dtype: float64
2
   Unnamed: 0 surname     name       tarif  balance  age  sms  voice     city  \
6           6  Kozlov     Igor  Всё за 800      300   60   31   8543  Yakutsk
7           7   Girev     Alex       Промо     4199   47   90   3925    Kazan
8           8  Petrov  Nikolay         ВИП     4810   72   88   7188   Moscow

     phone
6  Samsung
7    Apple
8    Apple
----
Igor       1
Alex       1
Nikolay    1
Name: name, dtype: int64
----
Sergey    1.0
Stas      1.0
Andrey    1.0
dtype: float64
----
Alex       1.0
Andrey     1.0
Igor       1.0
Nikolay    1.0
Sergey     1.0
Stas       1.0
dtype: float64
Итерация 3
    Unnamed: 0  surname    name          tarif  balance  age  sms  voice  \
9            9  Andreev  Sergey     Всё за 800     4118   52   53    419
10          10   Smolov    Stas          Промо     1991   28   67   5016
11          11    Girev    Igor  Корпоративный     1430   69   19   9520

       city    phone
9   Yakutsk    Apple
10    Kazan   Xiaomi
11  Yakutsk  Samsung
----
Sergey    1
Stas      1
Igor      1
Name: name, dtype: int64
----
Alex       1.0
Andrey     1.0
Igor       1.0
Nikolay    1.0
Sergey     1.0
Stas       1.0
dtype: float64
----
Alex       1.0
Andrey     1.0
Igor       2.0
Nikolay    1.0
Sergey     2.0
Stas       2.0
dtype: float64
Итерация 4
    Unnamed: 0 surname    name               tarif  balance  age  sms  voice  \
12          12  Kozlov  Andrey       Корпоративный      113   71   82   2785
13          13  Ivanov  Sergey               Промо     3394   39   12   2718
14          14  Smolov  Sergey  Всё за 250 (архив)     3493   32    6   8959

       city   phone
12    Kazan   Apple
13  Yakutsk  Xiaomi
14  Yakutsk  Huawei
----
Sergey    2
Andrey    1
Name: name, dtype: int64
----
Alex       1.0
Andrey     1.0
Igor       2.0
Nikolay    1.0
Sergey     2.0
Stas       2.0
dtype: float64
----
Alex       1.0
Andrey     2.0
Igor       2.0
Nikolay    1.0
Sergey     4.0
Stas       2.0
dtype: float64

KeyboardInterrupt: Interrupted by user

Прогнав несколько итерраций, мы с вами увидели, что наша серия Тотал с каждой итерацией увеличивается.

# Сохранение данных в датафрэйм

Делается это с помощью функции to_csv
Пример:
df.to_csv('Z:\\Programming\\DataSciense\\Stepik_Pandas_Numpy\\Step.4.3_df.csv')

Для того, чтобы сохранить отдельные колонки из всего df у нас есть параметр columns

Пример:

df.to_csv('Z:\\Programming\\DataSciense\\Stepik_Pandas_Numpy\\Step.4.3_df.csv', 

columns=['name','balance','city'])

Чтобы сохранить без заголовка, ставим параметр hader = False

При сохранении: index = False
При загрузке: index_col = 0

Наш новый стажер Алексей попытался загрузить csv файл в датафрейм, но столкнулся с ошибкой:



Алексей что-то слышал о том, что файлы могут быть записаны в разных кодировках. Кодировка это как язык. Представьте, что вы пытаетесь прочитать предложение на латинском языке: "Carum est, quod rarum est" держа в руках русский алфавит. 

В русском алфавите нет таких букв поэтому вы не сможете прочитать предложение. Для этого нам потребуется латинский алфавит! Тоже самое и с файлами - чтобы правильно их прочитать и понять каждый символ, необходимо взять в руки правильный алфавит)

 

Чаще всего в качестве алфавита (кодировки) используется utf-8. Именно она по умолчанию используется в функции read_csv, но некоторые системы формируют csv файл с использованием других алфавитов (кодировок). И тогда возникает конфликт: read_csv ожидает файл в кодировке utf-8, а на деле файл в другой кодировке - возникает ошибка. 

 

Но как избежать таких ошибок?

Надо понимать в какой кодировке сохранен файл, который мы хотим прочитать. Если открыть файл через Notepad++, то внизу справа вы увидите имя кодировки:

![](https://ucarecdn.com/a13d365d-c154-47b7-a8bc-848b12ee2927/)

если UTF-8 - переживать не стоит. Функция read_csv по умолчанию работает с такой кодировкой. А что если:

![](https://ucarecdn.com/8b51188c-4013-4fe9-94bd-49b00ac1e10b/)

тогда у функции read_csv надо задействовать параметр encoding  и указать имя кодировки:

read_csv(..., encoding='windows-1251')

 

И тогда файл будет успешно прочитан! Всегда следите за кодировкой! 

Кстати, по умолчанию функция to_csv сохраняет файл в кодировке utf-8, но вы можете задать другую кодировку. В этом вам поможет тот же параметр encoding

# Практические задачи
## Задача №1
Вы оказались в аналитическом отделе некоторой социальной сети, которая объединяет людей занимающихся благотворительностью. Для вас подготовили выгрузку пользователей в формате csv. Загрузите файл в датафрейм и оставьте только пользователей женского пола. Сохраните датафрейм в формате csv без индекса и в кодировке utf8. Оставьте только две колонки: username и mail Разделитель значений: точка с запятой. Порядок записей не меняйте. Ответ загрузите на степик.

Первые несколько строк ответа:

![](https://ucarecdn.com/e2a47966-2e86-4b1c-ac1c-c779788fe014/)

In [88]:
df = pd.read_csv('Z:\\Programming\\DataSciense\\Stepik_Pandas_Numpy\\Data_4.4\\4.3.11.csv', sep=';')

In [95]:
df_f = df[df['sex']== 'F']

In [96]:
df_f.to_csv('Z:\\Programming\\DataSciense\\Stepik_Pandas_Numpy\\Data_4.4\\4.3.11_Female.csv', 
            sep=';',
           index=False,
           columns=['username','mail'])

## Задача 2
Прочитайте первые 50 записей выгрузки и определите количество мужчин.

In [139]:
df = pd.read_csv('Z:\\Programming\\DataSciense\\Stepik_Pandas_Numpy\\Data_4.4\\4.3.13.csv', sep=';',
                nrows = 50)

In [140]:
df.sex.value_counts()

M    27
F    23
Name: sex, dtype: int64

## Задача 3
Вася сделал для нас выгрузку в формате csv, но забыл рассказать про кодировку. Определите в какой кодировке сохранена выгрузка.
Ну это задача на внимательность того, что ест ьв курсе. Просто через NotePad открываем файл и определяем кодировку Windows-1251.

## Задача 4
Скачайте выгрузку и организуйте её чтение чанками. Размер каждого чанка установите в 30 строк. Для пятого чанка с данными определите сколько пользователей с группой крови A+

Группа крови хранится в столбце blood_group

In [157]:
df4 = df = pd.read_csv('Z:\\Programming\\DataSciense\\Stepik_Pandas_Numpy\\Data_4.4\\4.3.11.csv', 
                       sep=';',
                      chunksize=30)

In [158]:
for i in range(5):
    df = next(df4)
print(len(df[df.blood_group == 'A+']))

4