In [2]:
import numpy as np
import pandas as pd

csv - comma separated values - значения, разделенные запятыми

- Разберем механизм чтения файла и создания DataFrame

Это просто пример для понимания как работает функция чтения csv файла!

In [19]:
#загрузить файл можно с помощью следующей команды
f = open('example.csv')

In [6]:
#Получения данных
for line in f:
    print(line)

a,b,c

1,2,3

4,5,6

7,8,9

In [13]:
#Разделение по сепаратору
for line in f:
    print(line.split(','))

['a', 'b', 'c\n']
['1', '2', '3\n']
['4', '5', '6\n']
['7', '8', '9']

In [20]:
#Присвоение значений матрице
matrix = []
for line in f:
    _lst = line.split(',')
    matrix.append(_lst)

In [21]:
matrix

[['a', 'b', 'c\n'], ['1', '2', '3\n'], ['4', '5', '6\n'], ['7', '8', '9']]

In [26]:
#Создание датафрэйма по матрице
df = pd.DataFrame(matrix, columns = ['a','b','c'])
df

   a  b    c
0  a  b  c\n
1  1  2  3\n
2  4  5  6\n
3  7  8    9

- Разумеется это не весь код. Т.к. у нас могт быть пропуски и т.д. В коде появятся различные ответвления для того или иного случая. Поэтому это все учли разработчки Pandas

- .read_csv

ВАЖНО!!!  - nrowsint, optional
Number of rows of file to read. Useful for reading pieces of large files.

In [28]:
df = pd.read_csv('example.csv')
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

- Указание пути к файлу

Важно, при указании пути к файлу. необходимо развернуть наши слэши. Иначе функция ждет получения служебного символа.

Python ожидает, что после символов \u будет идти код символа в кодировке Unicode, но увидел какие-то другие символы и выдал ошибку. Со временем вы лучше будете понимать происходящее, а сейчас для указания пути используйте / (слэш на правую сторону)

Вам может повезти и в пути не встретятся служебные символы (\t \n \u), тогда всё сработает и со слэшами с наклоном налево, но гораздо проще использовать слэш с наклоном на правую сторону и не думать о возможных проблемах.

Это поможет избежать вам избежать сложностей при чтении файлов.

In [29]:
#Такая запись может выдать ошибку
df2 = pd.read_csv('Z:\Programming\DataSciense\Stepik_Pandas_Numpy\example2.csv')
df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [31]:
#Корректно писать именно так
df2 = pd.read_csv('Z:/Programming/DataSciense/Stepik_Pandas_Numpy/example2.csv')
df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
#Либо указывайте два слэша

In [32]:
#Такая запись может выдать ошибку
df2 = pd.read_csv('Z:\\Programming\\DataSciense\\Stepik_Pandas_Numpy\\example2.csv')
df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

По умолчанию у функции read_csv параметр sep=',' , но если вы видите, что у вас в файле другой разделитель, то вы можете его заменить, например, на точку с запятой sep=';'

- ссылка на документацию read_csv

https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

- Задача №1
Задание:

1) скачайте файл с данными

2) определите разделитель и загрузите данные в датафрейм

3) определите название станции, на которой было наибольшее количество входов за 4 квартал 2021 года

В ответе укажите название станции

In [109]:
df_metro = pd.read_csv('Z:\\Programming\\DataSciense\\Stepik_Pandas_Numpy\\Пассажиропоток_МосМетро_2.csv', sep = ';', skiprows=[1])

In [79]:
#План выполнения:
#Получить записи только 4 квартала 2021
#Получить станцию с максимальным количеством входов

In [111]:
df_m_s = df_metro[(df_metro['Year'] == 2021) & (df_metro['Quarter'] == 	'I квартал')]

In [112]:
df_m_s.loc[df_m_s['IncomingPassengers'] == df_m_s.IncomingPassengers.max()]['NameOfStation']

509    Комсомольская
Name: NameOfStation, dtype: object

- Задача №2
Задание:

1) скачайте файл с данными

2) определите разделитель и загрузите данные в датафрейм. Возможно потребуется пропустить какие-то записи для того чтобы загрузка прошла успешно.

3) определите сколько всего было входов по всем станциям за всё время (сумма по столбцу IncomingPassengers)

В ответе укажите целое число без пробелов

In [78]:
df_m2 = pd.read_csv('Z:\\Programming\\DataSciense\\Stepik_Pandas_Numpy\\Пассажиропоток_МосМетро_4.2.1.csv', sep = '|',skiprows=[0,1,2,3,5,6])

In [79]:
df_m2.head(5)

,NameOfStation,Line,Year,Quarter,IncomingPassengers,OutgoingPassengers,global_id,NameOfStation_en,Line_en,Year_en,Quarter_en,IncomingPassengers_en,OutgoingPassengers_en,Unnamed: 13
0,Митино,Арбатско-Покровская линия,2021.0,I квартал,1913498.0,1829031.0,1.138976e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Волоколамская,Арбатско-Покровская линия,2021.0,I квартал,1236714.0,1222309.0,1.138976e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Строгино,Арбатско-Покровская линия,2021.0,I квартал,1938816.0,1903731.0,1.138976e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Крылатское,Арбатско-Покровская линия,2021.0,I квартал,1849616.0,1818208.0,1.138976e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Площадь Революции,Арбатско-Покровская линия,2021.0,I квартал,2324687.0,2319343.0,1.138976e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
df_m2.IncomingPassengers.fillna(0).sum()

2514195123.0

Задача №3
Задание:

1) скачайте файл с данными (это новый файл и он отличается от файла с предыдущего степа)

В столбце IncomingPassengers присутствуют пропущенные значения: 0, NULL, None, не указано

2) определите разделитель и загрузите данные в датафрейм. На этапе загрузки сконвертируйте 0, NULL, None, не указано в NaN

В столбце OutgoingPassengers нули не должны сконвертироваться в NaN!

3) С помощью функции pd.isnull определите количество записей, у которых пропущено значение в столбце IncomingPassengers

В ответе укажите число строк в которых пропущено значение в столбце IncomingPassengers

In [85]:
df_m3 = pd.read_csv('Z:\\Programming\\DataSciense\\Stepik_Pandas_Numpy\\Пассажиропоток_МосМетро_4.2.2.csv', na_values={'IncomingPassengers':[0, 'NULL', None, 'не указано']},sep = '|')

In [86]:
df_m3.head(10)

,NameOfStation,Line,Year,Quarter,IncomingPassengers,OutgoingPassengers,global_id,NameOfStation_en,Line_en,Year_en,Quarter_en,IncomingPassengers_en,OutgoingPassengers_en,Unnamed: 13
0,Станция метрополитена,Линия,Год,Квартал,Входы пассажиров,Выходы пассажиров,global_id,NameOfStation_en,Line_en,Year_en,Quarter_en,IncomingPassengers_en,OutgoingPassengers_en,NaN
1,Митино,Арбатско-Покровская линия,2021,I квартал,1913498,1829031,1138975996,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Волоколамская,Арбатско-Покровская линия,2021,I квартал,1236714,1222309,1138975997,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Строгино,Арбатско-Покровская линия,2021,I квартал,1938816,1903731,1138975999,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Крылатское,Арбатско-Покровская линия,2021,I квартал,1849616,1818208,1138976000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Площадь Революции,Арбатско-Покровская линия,2021,I квартал,2324687,2319343,1138976008,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Бауманская,Арбатско-Покровская линия,2021,I квартал,3757697,3919091,1138976010,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Первомайская,Арбатско-Покровская линия,2021,I квартал,2554914,2542396,1138976015,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Беломорская,Замоскворецкая линия,2021,I квартал,2093304,2007519,1138976018,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Речной вокзал,Замоскворецкая линия,2021,I квартал,1976604,1932752,1138976019,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
df_m3.IncomingPassengers.isnull().sum()

37