In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame({'user': ['Petr@', 'Nikolay', 'Igor', 'Pavel!'],
                       'fullname': ['Petr::Ivanov', 'Nikolay::Petrov', 'Igor::Sidorov', 'Pavel::Ivanov']})

In [5]:
df

      user         fullname
0    Petr@     Petr::Ivanov
1  Nikolay  Nikolay::Petrov
2     Igor    Igor::Sidorov
3   Pavel!    Pavel::Ivanov

Мы рассмотрим строковую функцию .str.replace(). Не путайте, пожалуйста, ее с этой функцией replace

In [10]:
df['user'] = df['user'].str.replace('@', '')

In [11]:
df

      user         fullname
0     Petr     Petr::Ivanov
1  Nikolay  Nikolay::Petrov
2     Igor    Igor::Sidorov
3   Pavel!    Pavel::Ivanov

Данного результата можно достигнуть с помощью функции map

In [12]:
def f(x):
    return x.replace('@','')

In [13]:
df['user'].map(f)

0       Petr
1    Nikolay
2       Igor
3     Pavel!
Name: user, dtype: object

В случае с map и нашей функцией, есть одно но! Если у нас пропуск в серии. то мы получим ошибку!
Перепишем наш Датафрэйм и нашу функцию.

In [14]:
df = pd.DataFrame({'user': ['Petr@', 'Nikolay', 'Igor', 'Pavel!', np.nan],
                       'fullname': ['Petr::Ivanov', 'Nikolay::Petrov', 'Igor::Sidorov', 'Pavel::Ivanov',np.nan]})

In [15]:
df

      user         fullname
0    Petr@     Petr::Ivanov
1  Nikolay  Nikolay::Petrov
2     Igor    Igor::Sidorov
3   Pavel!    Pavel::Ivanov
4      NaN              NaN

In [16]:
def f(x):
    print(x)
    return x.replace('@','')

In [18]:
#На nan наша функция сломалась!
df['user'].map(f)

Petr@
Nikolay
Igor
Pavel!
nan

AttributeError: 'float' object has no attribute 'replace'

In [20]:
#Обратимся к нашему датафрэйму с помощью .str.replace()
#Никаких проблем у нас нет
df['user'].str.replace('@', '')

0       Petr
1    Nikolay
2       Igor
3     Pavel!
4        NaN
Name: user, dtype: object

Чтобы использовать остальные строковые ф-ии, к которым мы привыкли, необходимо использовать .str!!!

In [21]:
df['user'].str.upper()

0      PETR@
1    NIKOLAY
2       IGOR
3     PAVEL!
4        NaN
Name: user, dtype: object

In [22]:
df['user'].str[1]

0      e
1      i
2      g
3      a
4    NaN
Name: user, dtype: object

In [24]:
df['user'].str.capitalize()

0      Petr@
1    Nikolay
2       Igor
3     Pavel!
4        NaN
Name: user, dtype: object

Если вы хотите чтобы каждое слово в строке начиналось с большой буквы, тогда воспользуйтесь функций title.

Сравнение upper с title:

Функция upper преобразует "hello dear pandas!" в  "HELLO DEAR PANDAS!"

Функция title преобразует "hello dear pandas!" в  "Hello Dear Pandas!"

# Практика

# Задача №1
В этом уроке мы будем работать с данными одной автотранспортной компании:
![](https://ucarecdn.com/fb572d46-8a8a-44b8-97d8-c1cf27c48ded/)
driver - ФИО водителя

car - номер транспортного средства

car_type - тип транспортного средства

fuel_rate - потребление топлива на 100 км.

 

Задание:

отфильтруйте датафрейм так чтобы в нем остались водители, которые не были уволены. Для этого выполните проверку на вхождение слова 'уволен' в столбце driver. Для Орлова Б.А. уберите надпись 'Водитель'

In [5]:
df_dickt = {'driver': {0: 'Петров А.Б', 1: 'Скворцов М.В.',
                       2: 'Адреев Н.И.', 3: 'Водитель Орлов Б.А.',
                       4: 'Михайлов Д.В. (уволен 01.01.2022)',
                       5: 'Торетто Игорь Степанович (уволен за превышение скорости 01.01.2022)'},
            'car': {0: 'Б432АВ', 1: 'М012ГД', 2: 'В122УВ', 3: 'А4212ЛД', 4: '432ЯАВ', 5: '432А'},
            'car_type': {0: 'Грузовик', 1: 'Легковая', 2: 'Автобус', 3: 'Автокран', 4: '?', 5: '?'},
            'fuel_rate': {0: '14.2', 1: '9,8', 2: '19.4', 3: '25,6', 4: '7.8', 5: '5.5'}}

In [6]:
df = pd.DataFrame(df_dickt)
df

,driver,car,car_type,fuel_rate
0,Петров А.Б,Б432АВ,Грузовик,14.2
1,Скворцов М.В.,М012ГД,Легковая,"9,8"
2,Адреев Н.И.,В122УВ,Автобус,19.4
3,Водитель Орлов Б.А.,А4212ЛД,Автокран,"25,6"
4,Михайлов Д.В. (уволен 01.01.2022),432ЯАВ,?,7.8
5,Торетто Игорь Степанович (уволен за превышение...,432А,?,5.5

In [7]:
#начну с простого, что бы не забыть это сделать, удалим "водитель"
df['driver'] = df['driver'].str.replace('Водитель', '')
df

,driver,car,car_type,fuel_rate
0,Петров А.Б,Б432АВ,Грузовик,14.2
1,Скворцов М.В.,М012ГД,Легковая,"9,8"
2,Адреев Н.И.,В122УВ,Автобус,19.4
3,Орлов Б.А.,А4212ЛД,Автокран,"25,6"
4,Михайлов Д.В. (уволен 01.01.2022),432ЯАВ,?,7.8
5,Торетто Игорь Степанович (уволен за превышение...,432А,?,5.5

In [16]:
#получаем маску для удаления уволенных
df['driver'].str.find('уволен') != -1

0    False
1    False
2    False
3    False
4     True
5     True
Name: driver, dtype: bool

In [17]:
#создаем маску
mask = df['driver'].str.find('уволен') != -1

In [30]:
#Получаем индексы уволенных, которые дропнем
df[mask].index.values

array([4, 5], dtype=int64)

In [31]:
#Дропаем из нашего датафрэйма, предварительно ставлю inplace = False, для тестов
df.drop(df[mask].index.values, inplace = False)

          driver      car  car_type fuel_rate
0     Петров А.Б   Б432АВ  Грузовик      14.2
1  Скворцов М.В.   М012ГД  Легковая       9,8
2    Адреев Н.И.   В122УВ   Автобус      19.4
3     Орлов Б.А.  А4212ЛД  Автокран      25,6

In [33]:
#заворачиваю все в функцию
def drop(df):
    df['driver'] = df['driver'].str.replace('Водитель ', '') #удаляем "водитель"
    mask = df['driver'].str.find('уволен') != -1 #создание маски
    df.drop(df[mask].index.values, inplace = True) #Дропаем уволенных
    return df

In [34]:
drop(df)

          driver      car  car_type fuel_rate
0     Петров А.Б   Б432АВ  Грузовик      14.2
1  Скворцов М.В.   М012ГД  Легковая       9,8
2    Адреев Н.И.   В122УВ   Автобус      19.4
3     Орлов Б.А.  А4212ЛД  Автокран      25,6

# Задача 2
Продолжаем работу с датафреймом:
![](https://ucarecdn.com/fb572d46-8a8a-44b8-97d8-c1cf27c48ded/)
Выполните проверку ошибочных номеров. Номер должен состоять из 6 символов, а первый обязательно буква. Отсортируйте датафрейм так чтобы остались записи с ошибочными номерами.

In [35]:
df_dickt = {'driver': {0: 'Петров А.Б', 1: 'Скворцов М.В.',
                       2: 'Адреев Н.И.', 3: 'Водитель Орлов Б.А.',
                       4: 'Михайлов Д.В. (уволен 01.01.2022)',
                       5: 'Торетто Игорь Степанович (уволен за превышение скорости 01.01.2022)'},
            'car': {0: 'Б432АВ', 1: 'М012ГД', 2: 'В122УВ', 3: 'А4212ЛД', 4: '432ЯАВ', 5: '432А'},
            'car_type': {0: 'Грузовик', 1: 'Легковая', 2: 'Автобус', 3: 'Автокран', 4: '?', 5: '?'},
            'fuel_rate': {0: '14.2', 1: '9,8', 2: '19.4', 3: '25,6', 4: '7.8', 5: '5.5'}}
df = pd.DataFrame(df_dickt)

In [50]:
#подготавливаю маску 
df['car'].str.len() != 6

0    False
1    False
2    False
3     True
4    False
5     True
Name: car, dtype: bool

In [64]:
df['car'].str[0].str.isalpha()

0     True
1     True
2     True
3     True
4    False
5    False
Name: car, dtype: bool

In [67]:
mask = (df['car'].str.len() != 6) | (df['car'].str[0].str.isdigit())

In [68]:
#проверяю
df[mask]

                                              driver   car car_type fuel_rate
5  Торетто Игорь Степанович (уволен за превышение...  432А        ?       5.5

In [69]:
#заворачиваю все в функцию
def solution(df):
    mask = (df['car'].str.len() != 6) | (df['car'].str[0].str.isdigit())
    return df[mask]

In [70]:
solution(df)

                                              driver   car car_type fuel_rate
5  Торетто Игорь Степанович (уволен за превышение...  432А        ?       5.5

# Задача 3
Продолжаем работу с датафреймом:
![](https://ucarecdn.com/fb572d46-8a8a-44b8-97d8-c1cf27c48ded/)
В столбце fuel_rate содержится информация о потреблении топлива. Определите среднее потребление топлива.

In [71]:
df_dickt = {'driver': {0: 'Петров А.Б', 1: 'Скворцов М.В.',
                       2: 'Адреев Н.И.', 3: 'Водитель Орлов Б.А.',
                       4: 'Михайлов Д.В. (уволен 01.01.2022)',
                       5: 'Торетто Игорь Степанович (уволен за превышение скорости 01.01.2022)'},
            'car': {0: 'Б432АВ', 1: 'М012ГД', 2: 'В122УВ', 3: 'А4212ЛД', 4: '432ЯАВ', 5: '432А'},
            'car_type': {0: 'Грузовик', 1: 'Легковая', 2: 'Автобус', 3: 'Автокран', 4: '?', 5: '?'},
            'fuel_rate': {0: '14.2', 1: '9,8', 2: '19.4', 3: '25,6', 4: '7.8', 5: '5.5'}}
df = pd.DataFrame(df_dickt)

In [89]:
#исправляю данные
df['fuel_rate'] = df['fuel_rate'].str.replace(',', '.')

In [90]:
#конвертирую тип данных
df['fuel_rate'] = df['fuel_rate'].astype('float')

In [93]:
#вычисляю среднее
df['fuel_rate'].mean()

13.716666666666667

In [ ]:
#Заворачиваю все в функцию
def solution(df):
    df['fuel_rate'] = df['fuel_rate'].str.replace(',', '.')
    df['fuel_rate'] = df['fuel_rate'].astype('float')
    return df['fuel_rate'].mean()

# Задача 4
Продолжаем работу с датафреймом:
![](https://ucarecdn.com/fb572d46-8a8a-44b8-97d8-c1cf27c48ded/)
Найдите максимальное потребление топлива среди автомобилей с номерами, которые заканчиваются на букву В

In [133]:
df_dickt = {'driver': {0: 'Петров А.Б', 1: 'Скворцов М.В.',
                       2: 'Адреев Н.И.', 3: 'Водитель Орлов Б.А.',
                       4: 'Михайлов Д.В. (уволен 01.01.2022)',
                       5: 'Торетто Игорь Степанович (уволен за превышение скорости 01.01.2022)'},
            'car': {0: 'Б432АВ', 1: 'М012ГД', 2: 'В122УВ', 3: 'А4212ЛД', 4: '432ЯАВ', 5: '432А'},
            'car_type': {0: 'Грузовик', 1: 'Легковая', 2: 'Автобус', 3: 'Автокран', 4: '?', 5: '?'},
            'fuel_rate': {0: '14.2', 1: '9,8', 2: '19.4', 3: '25,6', 4: '7.8', 5: '5.5'}}
df = pd.DataFrame(df_dickt)

In [114]:
#исправляю данные
df['fuel_rate'] = df['fuel_rate'].str.replace(',', '.')

In [115]:
#конвертирую тип данных
df['fuel_rate'] = df['fuel_rate'].astype('float')

In [116]:
#подготавливаю условие для маски для авто с номерами, заканчивающимся на "В"
df['car'].str[-1] == 'В'

0     True
1    False
2     True
3    False
4     True
5    False
Name: car, dtype: bool

In [117]:
#создаю маску
mask = df['car'].str[-1] == 'В'

In [118]:
#получаю информацию
df['fuel_rate'][df['car'].str[-1] == 'В'].max()

19.4

In [119]:
#заворачиваю все в функцию
def solution(df):
    df['fuel_rate'] = df['fuel_rate'].str.replace(',', '.')
    df['fuel_rate'] = df['fuel_rate'].astype('float')
    mask = df['car'].str[-1] == 'В'
    return df['fuel_rate'][mask].max()

In [122]:
solution(df)

19.4

На платформе получаем ответ:

- Ответ не совпадает. У вас: 14.2, а должен: 19.4

И вот сейчас то я понял, что у нас в номере английская B

- Комментарий автора курса:
    
оператор, когда вносил данные в систему, не обратил внимание, что раскладка поменялась и внес такие данные) Кстати, система была совсем не против (такое бывает). Тут для решения потребуется не только техника, но и внимательность 😎 

Тебе могут поставить задачу, но тот кто ее ставит, может не до конца понимать всех особенностей набора данных. Или тебе просто забыли сказать о некоторых особенностях. Может быть и так, что тебе вообще ничего не скажут, а на тебя ляжет вся работа. Твоя ценность будет очень высока, если ты научишься подмечать такие особенности. Я стараюсь местами добавлять в задачи немного таких сценариев чтобы прокачивать не только твою технику пандаса, но и культуру работы с данными

In [134]:
#переписываю условие
def solution(df):
    df['fuel_rate'] = df['fuel_rate'].str.replace(',', '.')
    df['fuel_rate'] = df['fuel_rate'].astype('float')
    mask = df['car'].str[-1] == 'В'
    return df['fuel_rate'][mask].max()

In [135]:
solution(df)

19.4

# Задача 5
Продолжаем работу с датафреймом:
![](https://ucarecdn.com/fb572d46-8a8a-44b8-97d8-c1cf27c48ded/)
Преобразуйте строковые значения в столбце car_type следующим образом: первый символ должен быть в нижнем регистре, а все остальные в верхнем:
![](https://ucarecdn.com/6018e903-437b-4b0f-8e23-cb3952f2ae93/)

In [144]:
df_dickt = {'driver': {0: 'Петров А.Б', 1: 'Скворцов М.В.',
                       2: 'Адреев Н.И.', 3: 'Водитель Орлов Б.А.',
                       4: 'Михайлов Д.В. (уволен 01.01.2022)',
                       5: 'Торетто Игорь Степанович (уволен за превышение скорости 01.01.2022)'},
            'car': {0: 'Б432АВ', 1: 'М012ГД', 2: 'В122УВ', 3: 'А4212ЛД', 4: '432ЯАВ', 5: '432А'},
            'car_type': {0: 'Грузовик', 1: 'Легковая', 2: 'Автобус', 3: 'Автокран', 4: '?', 5: '?'},
            'fuel_rate': {0: '14.2', 1: '9,8', 2: '19.4', 3: '25,6', 4: '7.8', 5: '5.5'}}
df = pd.DataFrame(df_dickt)

In [147]:
#меняем первый символ на нижний регистр оставшиеся на верхний и переписываем значения
#Используем конкатенацию строк
df['car_type'] = df['car_type'].str[0].str.lower() + df['car_type'].str[1:].str.upper()

In [148]:
#проверяем
df['car_type']

0    гРУЗОВИК
1    лЕГКОВАЯ
2     аВТОБУС
3    аВТОКРАН
4           ?
5           ?
Name: car_type, dtype: object

In [149]:
#Кладем все в функцию
def solution(df):
    df['car_type'] = df['car_type'].str[0].str.lower() + df['car_type'].str[1:].str.upper()
    return df

In [150]:
solution(df)

,driver,car,car_type,fuel_rate
0,Петров А.Б,Б432АВ,гРУЗОВИК,14.2
1,Скворцов М.В.,М012ГД,лЕГКОВАЯ,"9,8"
2,Адреев Н.И.,В122УВ,аВТОБУС,19.4
3,Водитель Орлов Б.А.,А4212ЛД,аВТОКРАН,"25,6"
4,Михайлов Д.В. (уволен 01.01.2022),432ЯАВ,?,7.8
5,Торетто Игорь Степанович (уволен за превышение...,432А,?,5.5

Метод swapcase() - возвращает копию строки, в которой все символы, основанные на регистре, поменялись местами.

In [151]:
#Решение данным методом
def solution(df):
    df.car_type = df.car_type.str.swapcase()
    return df

In [152]:
solution(df)

,driver,car,car_type,fuel_rate
0,Петров А.Б,Б432АВ,Грузовик,14.2
1,Скворцов М.В.,М012ГД,Легковая,"9,8"
2,Адреев Н.И.,В122УВ,Автобус,19.4
3,Водитель Орлов Б.А.,А4212ЛД,Автокран,"25,6"
4,Михайлов Д.В. (уволен 01.01.2022),432ЯАВ,?,7.8
5,Торетто Игорь Степанович (уволен за превышение...,432А,?,5.5

Если честно я даже хрен знает когда, помимо этой задачи данный методом может пригодиться

# Задача 6
Продолжаем работу с датафреймом:
![](https://ucarecdn.com/fb572d46-8a8a-44b8-97d8-c1cf27c48ded/)
Если номер транспортного средства начинается с буквы В, то замените эту букву на Б

In [195]:
df_dickt = {'driver': {0: 'Петров А.Б', 1: 'Скворцов М.В.',
                       2: 'Адреев Н.И.', 3: 'Водитель Орлов Б.А.',
                       4: 'Михайлов Д.В. (уволен 01.01.2022)',
                       5: 'Торетто Игорь Степанович (уволен за превышение скорости 01.01.2022)'},
            'car': {0: 'Б432АВ', 1: 'М012ГД', 2: 'В122УВ', 3: 'А4212ЛД', 4: '432ЯАВ', 5: '432А'},
            'car_type': {0: 'Грузовик', 1: 'Легковая', 2: 'Автобус', 3: 'Автокран', 4: '?', 5: '?'},
            'fuel_rate': {0: '14.2', 1: '9,8', 2: '19.4', 3: '25,6', 4: '7.8', 5: '5.5'}}
df = pd.DataFrame(df_dickt)

In [192]:
#Аналогично, конкатенцией пересобираю номер
df['car'] = df['car'].str[0].str.replace('В','Б') + df['car'].str[1:]

In [193]:
df

,driver,car,car_type,fuel_rate
0,Петров А.Б,Б432АВ,Грузовик,14.2
1,Скворцов М.В.,М012ГД,Легковая,"9,8"
2,Адреев Н.И.,Б122УВ,Автобус,19.4
3,Водитель Орлов Б.А.,А4212ЛД,Автокран,"25,6"
4,Михайлов Д.В. (уволен 01.01.2022),432ЯАВ,?,7.8
5,Торетто Игорь Степанович (уволен за превышение...,432А,?,5.5

In [194]:
#Заворачию в функцию
def solution(df):
    df['car'] = df['car'].str[0].str.replace('В','Б') + df['car'].str[1:]
    return df

In [197]:
#Проверяем
solution(df)

,driver,car,car_type,fuel_rate
0,Петров А.Б,Б432АВ,Грузовик,14.2
1,Скворцов М.В.,М012ГД,Легковая,"9,8"
2,Адреев Н.И.,Б122УВ,Автобус,19.4
3,Водитель Орлов Б.А.,А4212ЛД,Автокран,"25,6"
4,Михайлов Д.В. (уволен 01.01.2022),432ЯАВ,?,7.8
5,Торетто Игорь Степанович (уволен за превышение...,432А,?,5.5

In [198]:
#Решения коллег с курса, показавшиеся наиболее лучшими

In [199]:
def solution(df):
    df['car'] = df.car.str.replace('^В', 'Б', regex=True)
    return df